include data
doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(dir="ltr", lang="en")
//if IE 7
  html.no-js.lt-ie9.lt-ie8(dir="ltr", lang="en")
//if IE 8
  html.no-js.lt-ie9(dir="ltr", lang="en")
// [if gt IE 8] <!
html.no-js.gt-ie8(dir="ltr", lang="en")
  // <![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title #{data.meta.title}
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="robots", content="noodp ")
    link(rel="canonical", href="http://searchsolidstatestorage.techtarget.com/Micron-SSD/document/1436564524_809")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="http://fast.fonts.net/jsapi/124d48dd-e515-4302-8bfb-1d5c1e3da916.js")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/normalize.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/icomoon.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/jquery.jscrollpane.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/jquery-ui-1.10.3.custom.min.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/responsive-carousel.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/responsive-carousel.slide.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/mediaelementplayer.min.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/v8-legacy.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/main.css?v=6.31")
    //if IE 9
      link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/main_2.css?v=6.31")
    script(src="http://cdn.optimizely.com/js/148927072.js")
    script(src="http://cdn.ttgtmedia.com/rms/ux/responsive/js/responsive.min.js?v=6.31")
    script(type="text/javascript", src="http://cdn.ttgtmedia.com/rms/ux/javascript/writeCapture.js")
    script(type="text/javascript", src="http://cdn.ttgtmedia.com/rms/ux/javascript/jquery.writeCapture.js")
    script.
      (function() { var d=document,h=d.getElementsByTagName('head')[0],s=d.createElement('script'); s.type='text/javascript'; s.async=true; s.src='http://s.dpmsrv.com/dpm_b4c96d80854dd27e76d8cc9e21960eebda52e962.min.js'; h.appendChild(s); })();
    script(type="text/javascript").
      var ord=Math.random()*10000000000000000; document.write('<scr' + 'ipt type="text/javascript" src="http://ad.doubleclick.net/N3618/adj/mcrst/;mcrst=micronssd1x1io125758li1199493;sz=1x1;ord=' + ord + '?"></scr' + 'ipt>');
    noscript
      a(href="http://ad.doubleclick.net/N3618/jump/mcrst/;mcrst=micronssd1x1io125758li1199493;sz=1x1;ord=123456789?", target="_blank")
        img(src="http://ad.doubleclick.net/N3618/ad/mcrst/;mcrst=micronssd1x1io125758li1199493;sz=1x1;ord=123456789?", border="0", alt="")
    link(rel="stylesheet", href="")
    link(rel="stylesheet", href="")
    link(rel="stylesheet", href="")
    link(rel="stylesheet", href="css/style-responsive.css")
    script(src="http://cdn.ttgtmedia.com/microsites/micronssd/javascript/handlebars.js")
    script(src="javascript/plugins/jquery.zrssfeed.js")
    script(src="javascript/script-responsive.js")
    script.
      TT("page", {"regHost":"http://users.techtarget.com","gaSiteAcct":"UA-19047342-10","lang":"en","ga":true,"bprAbstract":true,"timestamp":"2015-09-23 15:23:39","siteName":"micronssd","pubDate":"20150710","siteType":"microsite/unisite","uaid":"UA-19047342-10","gaPageTrackUrl":"/page/etpk_0/ptpk_0/false/ABSTRACT/content/cid_null/date_20150710/mem_126/clst_0/rtpk_0/idx_0","parentSite":"searchSolidStateStorage","pageIndex":0,"siteId":228,"atHost":"http://go.techtarget.com","appCode":"126","homeAdId":"4500244156","zone":"ABSTRACT"});
    // Begin Chartbeat
    script.
      var _sf_startpt=(new Date()).getTime();
    // End Chartbeat
    script(type="text/javascript").
      (window.NREUM||(NREUM={})).loader_config={xpid:"VwcDVVZACwIDU1lS"};window.NREUM||(NREUM={}),__nr_require=function(t,e,n){function r(n){if(!e[n]){var o=e[n]={exports:{}};t[n][0].call(o.exports,function(e){var o=t[n][1][e];return r(o?o:e)},o,o.exports)}return e[n].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<n.length;o++)r(n[o]);return r}({QJf3ax:[function(t,e){function n(t){function e(e,n,a){t&&t(e,n,a),a||(a={});for(var c=s(e),f=c.length,u=i(a,o,r),d=0;f>d;d++)c[d].apply(u,n);return u}function a(t,e){f[t]=s(t).concat(e)}function s(t){return f[t]||[]}function c(){return n(e)}var f={};return{on:a,emit:e,create:c,listeners:s,_events:f}}function r(){return{}}var o="nr@context",i=t("gos");e.exports=n()},{gos:"7eSDFh"}],ee:[function(t,e){e.exports=t("QJf3ax")},{}],3:[function(t){function e(t){try{i.console&&console.log(t)}catch(e){}}var n,r=t("ee"),o=t(1),i={};try{n=localStorage.getItem("__nr_flags").split(","),console&&"function"==typeof console.log&&(i.console=!0,-1!==n.indexOf("dev")&&(i.dev=!0),-1!==n.indexOf("nr_dev")&&(i.nrDev=!0))}catch(a){}i.nrDev&&r.on("internal-error",function(t){e(t.stack)}),i.dev&&r.on("fn-err",function(t,n,r){e(r.stack)}),i.dev&&(e("NR AGENT IN DEVELOPMENT MODE"),e("flags: "+o(i,function(t){return t}).join(", ")))},{1:23,ee:"QJf3ax"}],4:[function(t){function e(t,e,n,i,s){try{c?c-=1:r("err",[s||new UncaughtException(t,e,n)])}catch(f){try{r("ierr",[f,(new Date).getTime(),!0])}catch(u){}}return"function"==typeof a?a.apply(this,o(arguments)):!1}function UncaughtException(t,e,n){this.message=t||"Uncaught error with no additional information",this.sourceURL=e,this.line=n}function n(t){r("err",[t,(new Date).getTime()])}var r=t("handle"),o=t(6),i=t("ee"),a=window.onerror,s=!1,c=0;t("loader").features.err=!0,t(5),window.onerror=e;try{throw new Error}catch(f){"stack"in f&&(t(1),t(2),"addEventListener"in window&&t(3),window.XMLHttpRequest&&XMLHttpRequest.prototype&&XMLHttpRequest.prototype.addEventListener&&window.XMLHttpRequest&&XMLHttpRequest.prototype&&XMLHttpRequest.prototype.addEventListener&&!/CriOS/.test(navigator.userAgent)&&t(4),s=!0)}i.on("fn-start",function(){s&&(c+=1)}),i.on("fn-err",function(t,e,r){s&&(this.thrown=!0,n(r))}),i.on("fn-end",function(){s&&!this.thrown&&c>0&&(c-=1)}),i.on("internal-error",function(t){r("ierr",[t,(new Date).getTime(),!0])})},{1:10,2:9,3:7,4:11,5:3,6:24,ee:"QJf3ax",handle:"D5DuLP",loader:"G9z0Bl"}],5:[function(t){t("loader").features.ins=!0},{loader:"G9z0Bl"}],6:[function(t){function e(){}if(window.performance&&window.performance.timing&&window.performance.getEntriesByType){var n=t("ee"),r=t("handle"),o=t(1),i=t(2);t("loader").features.stn=!0,t(3),n.on("fn-start",function(t){var e=t[0];e instanceof Event&&(this.bstStart=Date.now())}),n.on("fn-end",function(t,e){var n=t[0];n instanceof Event&&r("bst",[n,e,this.bstStart,Date.now()])}),o.on("fn-start",function(t,e,n){this.bstStart=Date.now(),this.bstType=n}),o.on("fn-end",function(t,e){r("bstTimer",[e,this.bstStart,Date.now(),this.bstType])}),i.on("fn-start",function(){this.bstStart=Date.now()}),i.on("fn-end",function(t,e){r("bstTimer",[e,this.bstStart,Date.now(),"requestAnimationFrame"])}),n.on("pushState-start",function(){this.time=Date.now(),this.startPath=location.pathname+location.hash}),n.on("pushState-end",function(){r("bstHist",[location.pathname+location.hash,this.startPath,this.time])}),"addEventListener"in window.performance&&(window.performance.addEventListener("webkitresourcetimingbufferfull",function(){r("bstResource",[window.performance.getEntriesByType("resource")]),window.performance.webkitClearResourceTimings()},!1),window.performance.addEventListener("resourcetimingbufferfull",function(){r("bstResource",[window.performance.getEntriesByType("resource")]),window.performance.clearResourceTimings()},!1)),document.addEventListener("scroll",e,!1),document.addEventListener("keypress",e,!1),document.addEventListener("click",e,!1)}},{1:10,2:9,3:8,ee:"QJf3ax",handle:"D5DuLP",loader:"G9z0Bl"}],7:[function(t,e){function n(t){i.inPlace(t,["addEventListener","removeEventListener"],"-",r)}function r(t){return t[1]}var o=t("ee").create(),i=t(1)(o),a=t("gos");if(e.exports=o,n(window),"getPrototypeOf"in Object){for(var s=document;s&&!s.hasOwnProperty("addEventListener");)s=Object.getPrototypeOf(s);s&&n(s);for(var c=XMLHttpRequest.prototype;c&&!c.hasOwnProperty("addEventListener");)c=Object.getPrototypeOf(c);c&&n(c)}else XMLHttpRequest.prototype.hasOwnProperty("addEventListener")&&n(XMLHttpRequest.prototype);o.on("addEventListener-start",function(t){if(t[1]){var e=t[1];"function"==typeof e?this.wrapped=t[1]=a(e,"nr@wrapped",function(){return i(e,"fn-",null,e.name||"anonymous")}):"function"==typeof e.handleEvent&&i.inPlace(e,["handleEvent"],"fn-")}}),o.on("removeEventListener-start",function(t){var e=this.wrapped;e&&(t[1]=e)})},{1:25,ee:"QJf3ax",gos:"7eSDFh"}],8:[function(t,e){var n=t("ee").create(),r=t(1)(n);e.exports=n,r.inPlace(window.history,["pushState"],"-")},{1:25,ee:"QJf3ax"}],9:[function(t,e){var n=t("ee").create(),r=t(1)(n);e.exports=n,r.inPlace(window,["requestAnimationFrame","mozRequestAnimationFrame","webkitRequestAnimationFrame","msRequestAnimationFrame"],"raf-"),n.on("raf-start",function(t){t[0]=r(t[0],"fn-")})},{1:25,ee:"QJf3ax"}],10:[function(t,e){function n(t,e,n){t[0]=o(t[0],"fn-",null,n)}var r=t("ee").create(),o=t(1)(r);e.exports=r,o.inPlace(window,["setTimeout","setInterval","setImmediate"],"setTimer-"),r.on("setTimer-start",n)},{1:25,ee:"QJf3ax"}],11:[function(t,e){function n(){f.inPlace(this,p,"fn-")}function r(t,e){f.inPlace(e,["onreadystatechange"],"fn-")}function o(t,e){return e}function i(t,e){for(var n in t)e[n]=t[n];return e}var a=t("ee").create(),s=t(1),c=t(2),f=c(a),u=c(s),d=window.XMLHttpRequest,p=["onload","onerror","onabort","onloadstart","onloadend","onprogress","ontimeout"];e.exports=a,window.XMLHttpRequest=function(t){var e=new d(t);try{a.emit("new-xhr",[],e),u.inPlace(e,["addEventListener","removeEventListener"],"-",o),e.addEventListener("readystatechange",n,!1)}catch(r){try{a.emit("internal-error",[r])}catch(i){}}return e},i(d,XMLHttpRequest),XMLHttpRequest.prototype=d.prototype,f.inPlace(XMLHttpRequest.prototype,["open","send"],"-xhr-",o),a.on("send-xhr-start",r),a.on("open-xhr-start",r)},{1:7,2:25,ee:"QJf3ax"}],12:[function(t){function e(t){var e=this.params,r=this.metrics;if(!this.ended){this.ended=!0;for(var i=0;c>i;i++)t.removeEventListener(s[i],this.listener,!1);if(!e.aborted){if(r.duration=(new Date).getTime()-this.startTime,4===t.readyState){e.status=t.status;var a=t.responseType,f="arraybuffer"===a||"blob"===a||"json"===a?t.response:t.responseText,u=n(f);if(u&&(r.rxSize=u),this.sameOrigin){var d=t.getResponseHeader("X-NewRelic-App-Data");d&&(e.cat=d.split(", ").pop())}}else e.status=0;r.cbTime=this.cbTime,o("xhr",[e,r,this.startTime])}}}function n(t){if("string"==typeof t&&t.length)return t.length;if("object"!=typeof t)return void 0;if("undefined"!=typeof ArrayBuffer&&t instanceof ArrayBuffer&&t.byteLength)return t.byteLength;if("undefined"!=typeof Blob&&t instanceof Blob&&t.size)return t.size;if("undefined"!=typeof FormData&&t instanceof FormData)return void 0;try{return JSON.stringify(t).length}catch(e){return void 0}}function r(t,e){var n=i(e),r=t.params;r.host=n.hostname+":"+n.port,r.pathname=n.pathname,t.sameOrigin=n.sameOrigin}if(window.XMLHttpRequest&&XMLHttpRequest.prototype&&XMLHttpRequest.prototype.addEventListener&&!/CriOS/.test(navigator.userAgent)){t("loader").features.xhr=!0;var o=t("handle"),i=t(2),a=t("ee"),s=["load","error","abort","timeout"],c=s.length,f=t(1);t(4),t(3),a.on("new-xhr",function(){this.totalCbs=0,this.called=0,this.cbTime=0,this.end=e,this.ended=!1,this.xhrGuids={}}),a.on("open-xhr-start",function(t){this.params={method:t[0]},r(this,t[1]),this.metrics={}}),a.on("open-xhr-end",function(t,e){"loader_config"in NREUM&&"xpid"in NREUM.loader_config&&this.sameOrigin&&e.setRequestHeader("X-NewRelic-ID",NREUM.loader_config.xpid)}),a.on("send-xhr-start",function(t,e){var r=this.metrics,o=t[0],i=this;if(r&&o){var f=n(o);f&&(r.txSize=f)}this.startTime=(new Date).getTime(),this.listener=function(t){try{"abort"===t.type&&(i.params.aborted=!0),("load"!==t.type||i.called===i.totalCbs&&(i.onloadCalled||"function"!=typeof e.onload))&&i.end(e)}catch(n){try{a.emit("internal-error",[n])}catch(r){}}};for(var u=0;c>u;u++)e.addEventListener(s[u],this.listener,!1)}),a.on("xhr-cb-time",function(t,e,n){this.cbTime+=t,e?this.onloadCalled=!0:this.called+=1,this.called!==this.totalCbs||!this.onloadCalled&&"function"==typeof n.onload||this.end(n)}),a.on("xhr-load-added",function(t,e){var n=""+f(t)+!!e;this.xhrGuids&&!this.xhrGuids[n]&&(this.xhrGuids[n]=!0,this.totalCbs+=1)}),a.on("xhr-load-removed",function(t,e){var n=""+f(t)+!!e;this.xhrGuids&&this.xhrGuids[n]&&(delete this.xhrGuids[n],this.totalCbs-=1)}),a.on("addEventListener-end",function(t,e){e instanceof XMLHttpRequest&&"load"===t[0]&&a.emit("xhr-load-added",[t[1],t[2]],e)}),a.on("removeEventListener-end",function(t,e){e instanceof XMLHttpRequest&&"load"===t[0]&&a.emit("xhr-load-removed",[t[1],t[2]],e)}),a.on("fn-start",function(t,e,n){e instanceof XMLHttpRequest&&("onload"===n&&(this.onload=!0),("load"===(t[0]&&t[0].type)||this.onload)&&(this.xhrCbStart=(new Date).getTime()))}),a.on("fn-end",function(t,e){this.xhrCbStart&&a.emit("xhr-cb-time",[(new Date).getTime()-this.xhrCbStart,this.onload,e],e)})}},{1:"XL7HBI",2:13,3:11,4:7,ee:"QJf3ax",handle:"D5DuLP",loader:"G9z0Bl"}],13:[function(t,e){e.exports=function(t){var e=document.createElement("a"),n=window.location,r={};e.href=t,r.port=e.port;var o=e.href.split("://");return!r.port&&o[1]&&(r.port=o[1].split("/")[0].split("@").pop().split(":")[1]),r.port&&"0"!==r.port||(r.port="https"===o[0]?"443":"80"),r.hostname=e.hostname||n.hostname,r.pathname=e.pathname,r.protocol=o[0],"/"!==r.pathname.charAt(0)&&(r.pathname="/"+r.pathname),r.sameOrigin=!e.hostname||e.hostname===document.domain&&e.port===n.port&&e.protocol===n.protocol,r}},{}],14:[function(t,e){function n(t){return function(){r(t,[(new Date).getTime()].concat(i(arguments)))}}var r=t("handle"),o=t(1),i=t(2);"undefined"==typeof window.newrelic&&(newrelic=window.NREUM);var a=["setPageViewName","addPageAction","setCustomAttribute","finished","addToTrace","inlineHit","noticeError"];o(a,function(t,e){window.NREUM[e]=n("api-"+e)}),e.exports=window.NREUM},{1:23,2:24,handle:"D5DuLP"}],gos:[function(t,e){e.exports=t("7eSDFh")},{}],"7eSDFh":[function(t,e){function n(t,e,n){if(r.call(t,e))return t[e];var o=n();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(t,e,{value:o,writable:!0,enumerable:!1}),o}catch(i){}return t[e]=o,o}var r=Object.prototype.hasOwnProperty;e.exports=n},{}],D5DuLP:[function(t,e){function n(t,e,n){return r.listeners(t).length?r.emit(t,e,n):void(r.q&&(r.q[t]||(r.q[t]=[]),r.q[t].push(e)))}var r=t("ee").create();e.exports=n,n.ee=r,r.q={}},{ee:"QJf3ax"}],handle:[function(t,e){e.exports=t("D5DuLP")},{}],XL7HBI:[function(t,e){function n(t){var e=typeof t;return!t||"object"!==e&&"function"!==e?-1:t===window?0:i(t,o,function(){return r++})}var r=1,o="nr@id",i=t("gos");e.exports=n},{gos:"7eSDFh"}],id:[function(t,e){e.exports=t("XL7HBI")},{}],G9z0Bl:[function(t,e){function n(){var t=p.info=NREUM.info,e=f.getElementsByTagName("script")[0];if(t&&t.licenseKey&&t.applicationID&&e){s(d,function(e,n){e in t||(t[e]=n)});var n="https"===u.split(":")[0]||t.sslForHttp;p.proto=n?"https://":"http://",a("mark",["onload",i()]);var r=f.createElement("script");r.src=p.proto+t.agent,e.parentNode.insertBefore(r,e)}}function r(){"complete"===f.readyState&&o()}function o(){a("mark",["domContent",i()])}function i(){return(new Date).getTime()}var a=t("handle"),s=t(1),c=window,f=c.document;t(2);var u=(""+location).split("?")[0],d={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-686.min.js"},p=e.exports={offset:i(),origin:u,features:{}};f.addEventListener?(f.addEventListener("DOMContentLoaded",o,!1),c.addEventListener("load",n,!1)):(f.attachEvent("onreadystatechange",r),c.attachEvent("onload",n)),a("mark",["firstbyte",i()])},{1:23,2:14,handle:"D5DuLP"}],loader:[function(t,e){e.exports=t("G9z0Bl")},{}],23:[function(t,e){function n(t,e){var n=[],o="",i=0;for(o in t)r.call(t,o)&&(n[i]=e(o,t[o]),i+=1);return n}var r=Object.prototype.hasOwnProperty;e.exports=n},{}],24:[function(t,e){function n(t,e,n){e||(e=0),"undefined"==typeof n&&(n=t?t.length:0);for(var r=-1,o=n-e||0,i=Array(0>o?0:o);++r<o;)i[r]=t[e+r];return i}e.exports=n},{}],25:[function(t,e){function n(t){return!(t&&"function"==typeof t&&t.apply&&!t[i])}var r=t("ee"),o=t(1),i="nr@wrapper",a=Object.prototype.hasOwnProperty;e.exports=function(t){function e(t,e,r,a){function nrWrapper(){var n,i,s,f;try{i=this,n=o(arguments),s=r&&r(n,i)||{}}catch(d){u([d,"",[n,i,a],s])}c(e+"start",[n,i,a],s);try{return f=t.apply(i,n)}catch(p){throw c(e+"err",[n,i,p],s),p}finally{c(e+"end",[n,i,f],s)}}return n(t)?t:(e||(e=""),nrWrapper[i]=!0,f(t,nrWrapper),nrWrapper)}function s(t,r,o,i){o||(o="");var a,s,c,f="-"===o.charAt(0);for(c=0;c<r.length;c++)s=r[c],a=t[s],n(a)||(t[s]=e(a,f?s+o:o,i,s))}function c(e,n,r){try{t.emit(e,n,r)}catch(o){u([o,e,n,r])}}function f(t,e){if(Object.defineProperty&&Object.keys)try{var n=Object.keys(t);return n.forEach(function(n){Object.defineProperty(e,n,{get:function(){return t[n]},set:function(e){return t[n]=e,e}})}),e}catch(r){u([r])}for(var o in t)a.call(t,o)&&(e[o]=t[o]);return e}function u(e){try{t.emit("internal-error",e)}catch(n){}}return t||(t=r),e.inPlace=s,e.flag=i,e}},{1:24,ee:"QJf3ax"}]},{},["G9z0Bl",4,12,6,5]);
    link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")
    link(rel="apple-touch-icon", sizes="144×144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="114×114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="72×72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", href="/apple-touch-icon-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="144×144", href="/apple-touch-icon-144x144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114×114", href="/apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72×72", href="/apple-touch-icon-72x72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="/apple-touch-icon-precomposed.png")
  body#bprAbstractOneReg.searchsolidstatestorage_embedded
    // Begin Google Tag Manager
    noscript
      iframe(src="//www.googletagmanager.com/ns.html?id=GTM-PWWZSH", height="0", width="0", style="display:none;visibility:hidden")
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PWWZSH');
    // End Google Tag Manager
    #site-container.site-container
      div
        div
          // PinnedNavBarController, generated at 15:23:39 Wed Sep 23, 2015, by vappma22.techtarget.com
          // AdsController, generated at 15:23:39 Wed Sep 23, 2015, by vappma22.techtarget.com
          .ad-wrapper.header-leaderboard.ad-mobile
            // AdsController, generated at 15:23:39 Wed Sep 23, 2015, by vappma22.techtarget.com
          header.header
            button.nav-toggle
              i.icon(data-icon="9")
            a.header-logo.mobile-link(href="http://searchsolidstatestorage.techtarget.com")
              span.header-logo-mobile SearchSolidStateStorage
            a.header-logo.desktop-link(href="http://www.techtarget.com/network")
              img.header-logo-desktop.replace_2x(src="http://cdn.ttgtmedia.com/rms/ux/responsive/img/nav_logo.png", alt="TechTarget")
              img.header-logo-small.replace_2x(src="http://cdn.ttgtmedia.com/rms/ux/responsive/img/nav_logo.png", alt="TechTarget")
            button.header-search-toggle
              i.icon(data-icon="g")
            form.header-search(action="http://searchsolidstatestorage.techtarget.com/search/query", method="get")
              label.visuallyhidden(for="header-search-input") Search the TechTarget Network
              input#header-search-input.header-search-input(type="text", name="q", placeholder="Search the TechTarget Network")
            nav.nav
              a.nav-join-pro(href="http://users.techtarget.com/registration/searchSolidStateStorage/LoginRegister.page")
                span Sign-up now. Start my free, unlimited access.
              .ad-wrapper.nav-pro-callout
                // AdsController, generated at 15:23:39 Wed Sep 23, 2015, by vappma22.techtarget.com
              .nav-user
                a.nav-user-login(href="http://users.techtarget.com/registration/searchSolidStateStorage/LoginRegister.page")
                  span.nav-user-action Login
              script.
                TT(["context","lib/jquery"],function(c,$){var u=c.getUser();if(u.loggedIn){$('div.nav-user').children("a:first")
                .before('<span class="nav-user-name">'+u.displayName+'</span>')
                .attr("href", "http://users.techtarget.com/registration/searchSolidStateStorage/Logout.page?fromURL=" + window.location.href).children("span.nav-user-action:first").text('Logout');
                $('.nav-join-pro').removeAttr('href');$('a.nav-join-pro span').hide();}else{$('div.nav-user').children("a:first").attr("href", "http://users.techtarget.com/registration/searchSolidStateStorage/LoginRegister.page?fromURL="+window.location.href);
                $('a.nav-join-pro').attr("href", "http://users.techtarget.com/registration/searchSolidStateStorage/LoginRegister.page?fromURL="+window.location.href);}});
              ul.nav-list
                li.nav-list-item.nav-list-item-searchsites
                  .nav-list-item-header.searchsolidstatestorage
                    a(href="http://searchsolidstatestorage.techtarget.com")
                      span.nav-list-item-header-title
                        span.logo-search Search
                        span.logo-1 Solid
                        span.logo-2 State
                        span.logo-3 Storage
                    i.icon.icon-arrow-down(data-icon="5")
                  .nav-list-sublist.nav-list-item-dropdown
                    ul.nav-list-item-jscroll
                      li.nav-list-sublist-item
                        a(href="http://searchvirtualstorage.techtarget.com") SearchVirtualStorage
                      li.nav-list-sublist-item
                        a(href="http://searchcloudstorage.techtarget.com") SearchCloudStorage
                      li.nav-list-sublist-item
                        a(href="http://searchdisasterrecovery.techtarget.com") SearchDisasterRecovery
                      li.nav-list-sublist-item
                        a(href="http://searchdatabackup.techtarget.com") SearchDataBackup
                      li.nav-list-sublist-item
                        a(href="http://searchstorage.techtarget.com") SearchStorage
                      li.nav-list-sublist-item
                        a(href="http://searchitchannel.techtarget.com") SearchITChannel
                li.nav-list-item.nav-list-item-topics
                  .nav-list-item-header
                    span.nav-list-item-header-type Topic
                    span.nav-list-item-header-title
                      a All
                    i.icon.icon-arrow-down(data-icon="5")
                    i.icon.icon-navigation-detail(data-icon="A")
                  .nav-list-item-dropdown.infotype
                    .nav-list-item-jscroll
                      .nav-list-parent-topics
                        .nav-list-sublist-header.nav-list-sublist-header-gray Please select a category
                        ul.nav-list-sublist
                          li#parent-topic-340ff3e169344310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item
                            | SSD implementation
                          li#parent-topic-26bef3e169344310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item
                            | SSD technology
                          li#parent-topic-4ffef3e169344310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item
                            | SSD applications
                      #child-topic-340ff3e169344310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          span.nav-list-sublist-header-topics-title
                            | SSD implementation
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://searchsolidstatestorage.techtarget.com/resources/Laptop-SSD-desktop-SSD-and-other-implementations")
                              | Endpoint solid state storage
                          li.nav-list-sublist-item
                            a(href="http://searchsolidstatestorage.techtarget.com/resources/Server-based-SSD-implementations")
                              | Server-based solid state
                          li.nav-list-sublist-item
                            a(href="http://searchsolidstatestorage.techtarget.com/resources/Solid-state-cache-appliance-implementations")
                              | Solid state cache appliances
                          li.nav-list-sublist-item
                            a(href="http://searchsolidstatestorage.techtarget.com/resources/SSD-array-implementations")
                              | Solid state arrays
                      #child-topic-26bef3e169344310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          span.nav-list-sublist-header-topics-title
                            | SSD technology
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                      #child-topic-4ffef3e169344310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          span.nav-list-sublist-header-topics-title
                            | SSD applications
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                      #child-topic-463a872e64d34310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          span.nav-list-sublist-header-topics-title
                            | Topics Archive
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                li.nav-list-item.nav-list-item-sections
                  .nav-list-item-header
                    span.nav-list-item-header-type Section
                    span.nav-list-item-header-title
                      a All
                    i.icon.icon-arrow-down(data-icon="5")
                    i.icon.icon-navigation-arrow(data-icon="B")
                  .nav-list-sublist.nav-list-item-dropdown
                    ul.nav-list-item-jscroll
                      li.nav-list-sublist-item
                        a(href="http://searchsolidstatestorage.techtarget.com/info/news") News
                      li.nav-list-sublist-item
                        a(href="http://searchsolidstatestorage.techtarget.com/info/getstarted") Get Started
                      li.nav-list-sublist-item
                        a(href="http://searchsolidstatestorage.techtarget.com/info/evaluate") Evaluate
                      li.nav-list-sublist-item
                        a(href="http://searchsolidstatestorage.techtarget.com/info/manage") Manage
                      li.nav-list-sublist-item
                        a(href="http://searchsolidstatestorage.techtarget.com/info/problemsolve") Problem Solve
                      li.nav-list-sublist-item.sponsored
                        a(href="http://searchsolidstatestorage.techtarget.com/sponsored_communities") Sponsored Communities
              ul.nav-social
                li#navBarGooglePlus.nav-social-item(title="Follow searchSolidStateStorage on Google+")
                  a(href="https://plus.google.com/u/0/115622615356519919488", target="_blank")
                    i.icon(data-icon="s")
                li#navBarFacebook.nav-social-item(title="Like searchSolidStateStorage on Facebook")
                  a(href="http://www.facebook.com/searchssd", target="_blank")
                    i.icon(data-icon="u")
                li#navBarLinkedIn.nav-social-item(title="Follow searchSolidStateStorage on LinkedIn")
                  a(href="http://www.linkedin.com/company/3107804?trk=tyah", target="_blank")
                    i.icon(data-icon="o")
          .ad-wrapper.header-leaderboard.ad-desktop
            // AdsController, generated at 15:23:39 Wed Sep 23, 2015, by vappma22.techtarget.com
      #main-content.main-content
        #micrositeContainer
          div
            div
              // FreeFormController, generated at 02:36:15 Wed Sep 23, 2015, by vappma22.techtarget.com
              #abstractHeader
                #headerOuterContainer
                  #headerInnerContainer
                    #sponsorBar
                      #sponsorBarContainer
                        #sponsoredBy
                          p.sponsoredByText Sponsored Content 
                          i.icon-info
                          .sponsorInfoPanel
                            p Sponsored content is a special advertising section provided by IT vendors. It features educational content and interactive media aligned to the topics of this web site.
                    #micrositeHeader
                      a.clientLogo
                    #headerContainerClear
          div
            div
              // ContentItemController, generated at 15:23:39 Wed Sep 23, 2015, by vappma22.techtarget.com
              section#micrositeOneReg-section.micrositeOneReg-section
                h2 Download Now!
                h3 Advanced Enterprise SAS Solid-State Through Collaboration
                .micrositeOneReg-about
                  img(src="http://cdn.ttgtmedia.com/rms/misc/microsite_onereg_asset_2.png")
                  h3 Download Now:
                  h4 Advanced Enterprise SAS Solid-State Through Collaboration
                  p.description
                    | Users of early SSD had to accept flaws, but those days are gone. Learn how to get both fast performance and reliability.
                  #rail-share-bar
                    ul#social-icons-desktop.share-bar-desktop(style="position: relative;")
                      li.share-bar-item-desktop.share-bar-title Share this item with your network:
                      li.share-bar-item-desktop.socialMedia-facebook(title="Share on Facebook", data-socialsite="facebook")
                        a(href="#", target="_blank")
                          i.icon(data-icon="u")
                        span.count
                      li.share-bar-item-desktop.socialMedia-twitter(title="Share on Twitter", data-socialsite="twitter", data-account="", data-related="")
                        a(href="#", target="_blank")
                          i.icon(data-icon="c")
                        span.count
                      li.share-bar-item-desktop.socialMedia-google(title="Share on Google+", data-socialsite="google")
                        a(href="#", target="_blank")
                          i.icon(data-icon="s")
                        span.count
                      li.share-bar-item-desktop.socialMedia-linkedin(title="Share on LinkedIn", data-socialsite="linkedin")
                        a(href="#", target="_blank")
                          i.icon(data-icon="o")
                        span.count
                      li.share-bar-item-desktop.contentTools-email(title="Email a Friend")
                        a(href="#", target="_blank")
                          i.icon(data-icon="n")
                form#inlineregform.micrositeOneReg-form(action="http://docs.media.bitpipe.com/io_12x/io_124352/item_1165472/ESG-WP-Micron-Seagate-Collaboration-June-2015.pdf", method="GET")
                  input#inlineRegSubmit(type="submit", value="Download Now!")
    div
      div
        // NetworkCoverageController, generated at 02:36:15 Wed Sep 23, 2015, by vappma22.techtarget.com
        section.latest-wrapper
          nav.latest-nav-wrapper
            h2
              | Latest TechTarget
              span.latest-title resources
            ul.latest-nav
              li
                a.latest-nav-item.selected(href="#", data-item="1")
                  | Virtual Storage
                  i.icon.mobile-icon(data-icon="5")
                  i.icon.desktop-icon(data-icon="A")
              li
                a.latest-nav-item(href="#", data-item="2")
                  | Cloud Storage
                  i.icon.mobile-icon(data-icon="5")
                  i.icon.desktop-icon(data-icon="A")
              li
                a.latest-nav-item(href="#", data-item="3")
                  | Disaster Recovery
                  i.icon.mobile-icon(data-icon="5")
                  i.icon.desktop-icon(data-icon="A")
              li
                a.latest-nav-item(href="#", data-item="4")
                  | Data Backup
                  i.icon.mobile-icon(data-icon="5")
                  i.icon.desktop-icon(data-icon="A")
              li
                a.latest-nav-item(href="#", data-item="5")
                  | Storage
                  i.icon.mobile-icon(data-icon="5")
                  i.icon.desktop-icon(data-icon="A")
              li
                a.latest-nav-item(href="#", data-item="6")
                  | IT Channel
                  i.icon.mobile-icon(data-icon="5")
                  i.icon.desktop-icon(data-icon="A")
          span.latest-nav-mask.before-mask
          span.latest-nav-mask.after-mask
          .latest-body
            .latest-content(data-item="1")
              h2.searchvirtualstorage
                a(href="http://searchvirtualstorage.techtarget.com")
                  span.logo-search Search
                  span.logo-1 Virtual
                  span.logo-2 Storage
              ul
                li
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchvirtualstorage.techtarget.com/news/4500253798/CacheBox-rebrands-becomes-VMware-VAIO-partner") CacheBox rebrands, becomes VMware VAIO partner
                  p
                    | PrimaryIO, formerly known as CacheBox, is among four vendors using VMware"s software development kit to build vSphere APIs for I/...
                li
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchvirtualstorage.techtarget.com/news/4500253546/PernixData-FVP-server-side-cache-tool-expanded") PernixData FVP server-side cache tool expanded
                  p
                    | PernixData FVP server-side cache supports VMware vSphere 6 and a call-home feature. Analytics and free software for RAM read ...
                li.hide-for-small
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchvirtualstorage.techtarget.com/news/4500253076/Tintri-VMstore-aims-to-scale-to-1M-VMs") Tintri VMstore aims to scale to 1M VMs
                  p
                    | Tintri"s roadmap for its VM-aware storage calls for greater scale, load balancing and analytics to support large private and ...
            .latest-content(data-item="2")
              h2.searchcloudstorage
                a(href="http://searchcloudstorage.techtarget.com")
                  span.logo-search Search
                  span.logo-1 Cloud
                  span.logo-2 Storage
              ul
                li
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchcloudstorage.techtarget.com/tip/Pros-and-cons-of-hybrid-cloud-architecture-approaches") Pros and cons of hybrid cloud architecture approaches
                  p
                    | Building a hybrid cloud architecture rather than purchasing an all-in-one system can result in cost savings, but the time needed ...
                li
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchcloudstorage.techtarget.com/news/4500253376/Zadara-VPSA-helps-Gilt-move-storage-into-AWS") Zadara VPSA helps Gilt move storage into AWS
                  p
                    | According to Gilt"s senior systems engineer, the online shopping site can provision storage faster and at a lower cost using ...
                li.hide-for-small
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchcloudstorage.techtarget.com/tip/Making-the-case-to-store-big-data-in-the-cloud") Making the case to store big data in the cloud
                  p
                    | According to analyst George Crump, data type factors as to whether you should store big data in the cloud or in an on-premises ...
            .latest-content(data-item="3")
              h2.searchdisasterrecovery
                a(href="http://searchdisasterrecovery.techtarget.com")
                  span.logo-search Search
                  span.logo-1 Disaster
                  span.logo-2 Recovery
              ul
                li
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchdisasterrecovery.techtarget.com/news/4500253989/Datos-IO-wants-to-provide-DR-for-distributed-databases") Datos IO wants to provide DR for distributed databases
                  p
                    | Startup Datos IO eyes 15-minute RPO, with point-in-time recovery of distributed databases used in cloud applications.
                li
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchdisasterrecovery.techtarget.com/tip/Cloud-recovery-Five-reasons-to-fail-back") Cloud recovery: Five reasons to fail back
                  p
                    | Cloud recovery and running a VM in the cloud can work for your organization. But the migration should be planned rather than be ...
                li.hide-for-small
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchdisasterrecovery.techtarget.com/feature/Need-a-business-disaster-recovery-plan-Youre-not-alone") Need a business disaster recovery plan? You"re not alone
                  p
                    | Nearly one-third of companies admit to not having a disaster recovery plan in place, saying they lack the funds, staff or ...
            .latest-content(data-item="4")
              h2.searchdatabackup
                a(href="http://searchdatabackup.techtarget.com")
                  span.logo-search Search
                  span.logo-1 Data
                  span.logo-2 Backup
              ul
                li
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchdatabackup.techtarget.com/news/4500253986/Backblaze-backup-offers-cloud-service-to-compete-with-Amazon-S3") Backblaze backup offers cloud service to compete with Amazon S3
                  p
                    | Backblaze backup introduces its B2 Cloud Storage service that costs half a penny per gigabyte; the online backup provider is ...
                li
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchdatabackup.techtarget.com/tip/Data-backup-and-disaster-recovery-made-simple") Data backup and disaster recovery made simple
                  p
                    | Many backup products include DR, enabling users to manage both tasks from the same platform. Learn how to streamline data backup ...
                li.hide-for-small
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchdatabackup.techtarget.com/tip/Issues-using-multiple-hypervisors-with-backup-applications") Issues using multiple hypervisors with backup applications
                  p
                    | Backup and recovery on multiple hypervisors is possible, but you need to be aware of three major challenges with this setup.
            .latest-content(data-item="5")
              h2.searchstorage
                a(href="http://searchstorage.techtarget.com")
                  span.logo-search Search
                  span.logo-1 Storage
              ul
                li
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchstorage.techtarget.com/news/4500253898/Infinidat-adds-smaller-SAN-array-unified-storage") Infinidat adds smaller SAN array, unified storage
                  p
                    | After starting with a system aimed at high-end enterprises, startup Infinidat adds a midrange InfiniBox F2000, plus NAS support ...
                li
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchstorage.techtarget.com/feature/Enterprise-NAS-Vital-features-and-purchase-considerations") Enterprise NAS: Vital features and purchase considerations
                  p
                    | If you"re in the market for enterprise NAS, there are a number of important features you need to evaluate before making a ...
                li.hide-for-small
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchstorage.techtarget.com/news/4500253724/ScaleIO-Node-bundles-software-on-EMC-appliances") ScaleIO Node bundles software on EMC appliances
                  p
                    | ScaleIO Node models will bundle software-defined storage with EMC-branded commodity servers and Arista network switches.
            .latest-content(data-item="6")
              h2.searchitchannel
                a(href="http://searchitchannel.techtarget.com")
                  span.logo-search Search
                  span.logo-1 IT
                  span.logo-2 Channel
              ul
                li
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchitchannel.techtarget.com/feature/The-legal-vertical-isnt-for-every-IT-services-provider") The legal vertical isn"t for every IT services provider
                  p
                    | The legal services market isn"t every service provider"s cup of tea. Learn about one company that embraced the vertical and ...
                li
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchdatabackup.techtarget.com/news/4500253986/Backblaze-backup-offers-cloud-service-to-compete-with-Amazon-S3") Backblaze cloud backup goes after S3, Azure, Google Cloud
                  p
                    | Backblaze backup introduces its B2 Cloud Storage service that costs half a penny per gigabyte; the online backup provider is ...
                li.hide-for-small
                  i.icon(data-icon="2")
                  h3
                    a(href="http://searchsecurity.techtarget.com/news/4500253983/Internal-report-on-Target-data-breach-reveals-glaring-security-holes") Target breach report calls out weak passwords, unpatched software
                  p
                    | An internal report on Target"s breach, obtained by security reporter Brian Krebs, shows the retailer suffered from major security...
      div
        // FooterLinksController, generated at 02:36:15 Wed Sep 23, 2015, by vappma22.techtarget.com
        footer
          .content-left
            // Plug in TechTarget Logo inside the anchor tag here.
            .column.column-logo
              a(href="#")
          .content-center
            ul.column
              li.footer-item.footer-item-col-1.footer-item-row-1
                a(href="http://searchsolidstatestorage.techtarget.com/about") About Us
              li.footer-item.footer-item-col-1.footer-item-row-2
                a(href="http://searchsolidstatestorage.techtarget.com/about/contact") Contact Us
              li.footer-item.footer-item-col-1.footer-item-row-3
                a(href="http://www.techtarget.com/html/privacy_policy.html") Privacy Policy
              li.footer-item.footer-item-col-1.footer-item-row-4
                a(href="http://searchsolidstatestorage.techtarget.com/videos") Videos
              li.footer-item.footer-item-col-1.footer-item-row-5
                a(href="http://searchsolidstatestorage.techtarget.com/photostories") Photo Stories
              li.footer-item.footer-item-col-1.footer-item-row-6
                a(href="http://searchsolidstatestorage.techtarget.com/guides") Guides
            ul.column
              li.footer-item.footer-item-col-2.footer-item-row-1
                a(href="http://searchsolidstatestorage.techtarget.com/about/advertising") Advertisers
              li.footer-item.footer-item-col-2.footer-item-row-2
                a(href="http://searchsolidstatestorage.techtarget.com/about/partners") Business Partners
              li.footer-item.footer-item-col-2.footer-item-row-3
                a(href="http://www.techtarget.com/mediakit") Media Kit
              li.footer-item.footer-item-col-2.footer-item-row-4
                a(href="http://www.techtarget.com") Corporate Site
              li.footer-item.footer-item-col-2.footer-item-row-5
                a(href="http://searchsolidstatestorage.techtarget.com/experts") Experts
            ul.column.column-mobile-hidden
              li.footer-item.footer-item-col-3.footer-item-row-1
                a(href="http://reprints.ygsgroup.com/m/techtarget") Reprints
              li.footer-item.footer-item-col-3.footer-item-row-2
                a(href="http://searchsolidstatestorage.techtarget.com/archive") Archive
              li.footer-item.footer-item-col-3.footer-item-row-3
                a(href="http://searchsolidstatestorage.techtarget.com/sitemap") Site Map
              li.footer-item.footer-item-col-3.footer-item-row-4
                a(href="http://searchsolidstatestorage.techtarget.com/events") Events
              li.footer-item.footer-item-col-3.footer-item-row-5
                a(href="http://searchsolidstatestorage.techtarget.com/eproducts") E-Products
          .content-right
            .column.column-legal
              p.footer-legal
                | All Rights Reserved,
                span
                  a(href="http://searchsolidstatestorage.techtarget.com/about/copyright") Copyright 2015 - 2015
                  | , TechTarget
    script(src="http://cdn.ttgtmedia.com/rms/ux/responsive/js/responsive-ui.min.js?v=6.31")
    // Begin Chartbeat
    script.
      var _sf_async_config={};
      _sf_async_config.uid = 41935;
      _sf_async_config.domain = 'techtargetnetwork.com';
      _sf_async_config.sections = ',  - NO TOPIC';
      _sf_async_config.authors = 'NO AUTHOR, ABSTRACT,  - ABSTRACT';
      _sf_async_config.useCanonical = true;
      (function(){
      function loadChartbeat() {
      window._sf_endpt=(new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src',
      (('https:' == document.location.protocol) ? 'https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/' : 'http://static.chartbeat.com/') + 'js/chartbeat.js');
      document.body.appendChild(e);
      }
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ?
      loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
    // End Chartbeat
    // Begin GoogleTagManagerLegacy
    noscript
      iframe(src="//www.googletagmanager.com/ns.html?id=GTM-5CV3PD", height="0", width="0", style="display:none;visibility:hidden")
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5CV3PD');
    // End GoogleTagManagerLegacy
    // Begin DataPoint Media
    script.
      (function() {
      var d=document,h=d.getElementsByTagName('head')[0],s=d.createElement('script'),sc = 'https:' == document.location.protocol ? 'https://' : 'http://';
      s.type='text/javascript';
      s.async=true;
      s.src=sc+'s.dpmsrv.com/dpm_b4c96d80854dd27e76d8cc9e21960eebda52e962.min.js';
      h.appendChild(s);
      })();
    // End DataPoint Media
    // Begin CrazyEgg
    script.
      setTimeout(function(){
      var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/7034.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;
      a.type="text/javascript";
      b.parentNode.insertBefore(a,b)
      }, 1);
    // End CrazyEgg
    // Begin GoogleRemarketing
    script.
      var google_conversion_id = 1070110249;
      var google_conversion_label = "RRsgCOW4tgMQqayi_gM";
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
    script(src="http://www.googleadservices.com/pagead/conversion.js")
    noscript
      div(style="display:inline;")
        img(height="1", width="1", style="border-style:none;", alt="", src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1070110249/?value=0&label=RRsgCOW4tgMQqayi_gM&guid=ON&script=0")
    script.
      var google_conversion_id = 1072226410;
      var google_conversion_label = "x3P_CIql1gMQ6sCj_wM";
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
    script(src="http://www.googleadservices.com/pagead/conversion.js")
    noscript
      div(style="display:inline;")
        img(height="1", width="1", style="border-style:none;", alt="", src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1072226410/?value=0&label=x3P_CIql1gMQ6sCj_wM&guid=ON&script=0")
    // End GoogleRemarketing
    #mobile-sidebars.mobile-sidebars
    #image-overlay.image-overlay
      .image-overlay-img
      .image-overlay-close Close
    //
      Component Load Times
      ====================
      DefaultPageController=18 ms
      PinnedNavBarController=60 ms
      AdsController=0 ms
      ContentItemController=1 ms
      Total time=79 ms
      Request Serving Server: vappma22.techtarget.com
    script(type="text/javascript").
      window.NREUM||(NREUM={});NREUM.info={"applicationID":"313780","applicationTime":252,"beacon":"bam.nr-data.net","queueTime":0,"licenseKey":"1068cf12f6","transactionName":"ZQMAYxdYXUBSAkFbClxJLFgXVFJfWhtQVjBAD00d","agent":"js-agent.newrelic.com\\/nr-686.min.js","errorBeacon":"bam.nr-data.net"}
