doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(dir="ltr", lang="en")
//if IE 7
  html.no-js.lt-ie9.lt-ie8(dir="ltr", lang="en")
//if IE 8
  html.no-js.lt-ie9(dir="ltr", lang="en")
// [if gt IE 8] <!
html.no-js.gt-ie8(dir="ltr", lang="en")
  // <![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title ComputerWeekly.com | Information Technology (IT) News, UK IT Jobs, Industry News
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="description", content="The latest information technology (IT) news and IT jobs from ComputerWeekly.com. Stay ahead with IT management and technology news, blogs, jobs, case studies, whitepapers and videos.")
    meta(name="robots", content="noodp")
    link(rel="canonical", href="http://www.computerweekly.com/")
    meta(name="google-site-verification", content="IQ46RmHVS2D3Rq9EjfsLf2wjV6Ch2lwFlgWqk8IozTo")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="http://fast.fonts.net/jsapi/124d48dd-e515-4302-8bfb-1d5c1e3da916.js")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/normalize.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/icomoon.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/jquery.jscrollpane.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/jquery-ui-1.10.3.custom.min.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/responsive-carousel.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/responsive-carousel.slide.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/mediaelementplayer.min.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/v8-legacy.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/main.css?v=6.33.1")
    //if IE 9
      link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/main_2.css?v=6.33.1")
    script(src="http://cdn.optimizely.com/js/148927072.js")
    script(src="http://cdn.ttgtmedia.com/rms/ux/responsive/js/responsive.min.js?v=6.33.1")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/computerweekly.css")
    script.
      TT("page", {"regHost":"http://users.techtarget.com","adScheme":"10","gaSiteAcct":"UA-19047342-14","lang":"en","ga":true,"timestamp":"2015-10-21 10:38:17","adId":"2240035941","siteName":"ComputerWeekly","adAbbr":"CW","siteType":"editorial","gaPageTrackUrl":"/page/etpk_0/ptpk_0/false/HOME/channel/cid_2240035941/date_null/mem_0/clst_0/rtpk_0/idx_0","siteId":222,"atHost":"http://go.techtarget.com","isChannel":true,"homeAdId":"2240035941","zone":"HOME"});
    // Begin Chartbeat
    script
      var _sf_startpt=(new Date()).getTime();
    // End Chartbeat
    link(rel="apple-touch-icon", sizes="144×144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="114×114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="72×72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", href="/apple-touch-icon-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="144×144", href="/apple-touch-icon-144x144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114×114", href="/apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72×72", href="/apple-touch-icon-72x72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="/apple-touch-icon-precomposed.png")
    link(rel='stylesheet', href='css/style-responsive.css', type='text/css', media='screen')
    script(src='javascript/jgestures.min.js')
    script(type='text/javascript', src='javascript/plugins/jquery.zrssfeed.js')
    script(src='javascript/script-responsive.js')
    script(src='javascript/video.js')
  body#home.computerweekly_embedded
    #site-container.site-container
      div
        div
          // PinnedNavBarController, generated at 10:37:58 Wed Oct 21, 2015, by vappma24.techtarget.com
          // AdsController, generated at 10:37:58 Wed Oct 21, 2015, by vappma24.techtarget.com
          #interstitial.ad.ad-ist
            script
              GPT.display('interstitial')
          .ad-wrapper.header-leaderboard.ad-mobile
            // AdsController, generated at 10:37:58 Wed Oct 21, 2015, by vappma24.techtarget.com
            #mobile-lb.ad.ad-mb
              script
                GPT.display('mobile-lb')
          header.header
            button.nav-toggle
              i.icon(data-icon="9")
            a.header-logo.mobile-link(href="http://www.computerweekly.com")
              span.header-logo-mobile
                img(src="http://cdn.ttgtmedia.com/rms/ux/responsive/img/cw_logo_mobile.png")
            a.header-logo.desktop-link(href="http://www.computerweekly.com")
              img.header-logo-desktop.replace_2x(src="http://cdn.ttgtmedia.com/rms/ux/responsive/img/cw_logo.png", alt="ComputerWeekly")
              img.header-logo-small.replace_2x(src="http://cdn.ttgtmedia.com/rms/ux/responsive/img/cw_logo.png", alt="ComputerWeekly")
            a.header-logo-tt-desktop(href="http://www.techtarget.com/network")
              img.replace_2x(src="http://cdn.ttgtmedia.com/rms/ux/responsive/img/cw_tt_logo.png", alt="TechTarget")
            button.header-search-toggle
              i.icon(data-icon="g")
            form.header-search(action="http://www.computerweekly.com/search/query", method="get")
              label.visuallyhidden(for="header-search-input") Search the TechTarget Network
              input#header-search-input.header-search-input(type="text", name="q", placeholder="Search the TechTarget Network")
            nav.nav
              a.nav-join-pro(href="http://users.computerweekly.com/registration/ComputerWeekly/LoginRegister.page")
                span Join CW+
              .nav-user
                a.nav-user-login(href="http://users.computerweekly.com/registration/ComputerWeekly/LoginRegister.page")
                  span.nav-user-action Login
                a.nav-user-register(href="http://users.computerweekly.com/registration/ComputerWeekly/Register.page")
                  span.nav-user-action Register
              script.
                TT(["context","lib/jquery"],function(c,$){var u=c.getUser();if(u.loggedIn){$('div.nav-user').children("a:first")
                .before('<span class="nav-user-name">'+u.displayName+'</span>')
                .attr("href", "http://users.computerweekly.com/registration/ComputerWeekly/Logout.page?fromURL=" + window.location.href).children("span.nav-user-action:first").text('Logout');
                $('a.nav-user-register span').hide();$('a.nav-user-login span').addClass('logout');
                $('.nav-join-pro').removeAttr('href');$('a.nav-join-pro span').hide();}else{$('div.nav-user').children("a:first").attr("href", "http://users.computerweekly.com/registration/ComputerWeekly/LoginRegister.page?fromURL="+window.location.href);
                $('a.nav-user-register span').attr("href", "http://users.computerweekly.com/registration/ComputerWeekly/Register.page?fromURL="+window.location.href);
                $('a.nav-join-pro').attr("href", "http://users.computerweekly.com/registration/ComputerWeekly/LoginRegister.page?fromURL="+window.location.href);}});
              .nav-links
                ul
                  li#nav-links-News
                    a(href="http://www.computerweekly.com/news") News
                  li#nav-links-InDepth
                    a(href="http://www.computerweekly.com/indepth") In Depth
                  li#nav-links-Blogs
                    a(href="http://www.computerweekly.com/blogs") Blogs
                  li#nav-links-Opinion
                    a(href="http://www.computerweekly.com/opinions") Opinion
                  li#nav-links-Videos
                    a(href="http://www.computerweekly.com/videos") Videos
                  li#nav-links-PhotoStories
                    a(href="http://www.computerweekly.com/photostories") Photo Stories
                  li#nav-links-PremiumContent
                    a(href="http://www.computerweekly.com/eproducts") Premium Content
              .nav-rss
                a(href="http://www.computerweekly.com/rss")
                  span.nav-user-action RSS
              ul.nav-list
                li#nav-list-item-itmanagement.nav-list-item.nav-list-item-cw
                  .nav-list-item-header
                    span.nav-list-item-header-title IT Management
                    i.icon.icon-arrow-down(data-icon="5")
                    i.icon.icon-navigation-detail(data-icon="A")
                  .nav-list-sublist.nav-list-item-dropdown
                    ul.nav-list-item-jscroll
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/CW500-and-IT-leadership-skills") IT leadership &#38; CW500
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-architecture") IT architecture
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-efficiency-and-sustainability") IT efficiency
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-governance") Governance
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-innovation-research-and-development") Innovation
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-legislation-and-regulation") Legislation
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-operations-management-and-IT-support") Operations &#38; support
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-project-management") Project management
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-strategy") Strategy
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-supplier-relationship-management") Supplier management
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/Managing-IT-and-business-issues") Business issues
                      li.nav-list-sublist-item.sponsored
                        a(href="http://www.computerweekly.com/sponsored_communities") Sponsored Communities
                li#nav-list-item-industrysectors.nav-list-item.nav-list-item-cw
                  .nav-list-item-header
                    span.nav-list-item-header-title Industry Sectors
                    i.icon.icon-arrow-down(data-icon="5")
                    i.icon.icon-navigation-arrow(data-icon="B")
                  .nav-list-sublist.nav-list-item-dropdown
                    ul.nav-list-item-jscroll
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/Healthcare-and-NHS-IT") Healthcare IT
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-for-charity-organisations") Charity IT
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-for-consulting-and-business-services") Business services IT
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-for-financial-services") Financial services IT
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-for-government-and-public-sector") Government &#38; public sector IT
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-for-leisure-and-hospitality-industry") Leisure &#38; hospitality IT
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-for-manufacturing") Manufacturing IT
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-for-media-and-entertainment-industry") Media &#38; entertainment IT
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-for-retail-and-logistics") Retail IT
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-for-small-and-medium-sized-enterprises-SME") SME IT
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-for-telecoms-and-internet-organisations") Telecoms &#38; internet
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-for-transport-and-travel-industry") Transport &#38; travel IT
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-for-utilities-and-energy") Utilities IT
                      li.nav-list-sublist-item
                        a(href="http://www.computerweekly.com/resources/IT-suppliers") IT suppliers
                li#nav-list-item-topics.nav-list-item.nav-list-item-cw
                  .nav-list-item-header
                    span.nav-list-item-header-title Technology Topics
                    i.icon.icon-arrow-down(data-icon="5")
                    i.icon.icon-navigation-arrow(data-icon="B")
                  .nav-list-item-dropdown.infotype
                    .nav-list-item-jscroll
                      #child-topic-Data-centre.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.computerweekly.com/resources/Data-Centre")
                            span.nav-list-sublist-header-topics-title Data centre
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Clustering-for-high-availability-and-HPC") Clustering for high availability and HPC
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-centre-backup-power-and-power-distribution") Data centre backup power and power distribution
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-centre-capacity-planning") Data centre capacity planning
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-centre-cooling-infrastructure") Data centre cooling infrastructure
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-centre-disaster-recovery-and-security") DR/security
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-centre-energy-efficiency-and-green-IT") Green IT
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-centre-performance-troubleshooting-monitoring-and-optimisation") Performance, monitoring and optimisation
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-centre-systems-management") Systems management
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Infrastructure-as-a-Service-IaaS") IaaS
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Managing-servers-and-operating-systems") Server and OS
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Platform-as-a-Service-PaaS") PaaS
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Server-virtualisation-platforms-and-management") Virtualisation
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Software-as-a-Service-SaaS") SaaS
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Virtualisation-management-strategy") Desktop virtualisation platforms
                      #child-topic-Enterprise-software.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.computerweekly.com/resources/Enterprise-software")
                            span.nav-list-sublist-header-topics-title Enterprise software
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Business-applications") Business applications
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Business-intelligence-software") BI
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Cloud-applications") Cloud applications
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Collaboration-software-and-productivity-software") Collaboration
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Customer-relationship-management-CRM") CRM
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Database-software") Database
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Enterprise-resource-planning-ERP-software") ERP
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Financial-applications") Financial applications
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/HR-software") HR software
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Integration-software-and-middleware") Middleware
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Microsoft-Windows-software") Windows
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Mobile-software") Mobile
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Open-source-software") Open source
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Operating-systems-software") Operating systems
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Service-oriented-architecture-SOA") SOA
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Software-development-tools") Developer
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Software-licensing") Licensing
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Virtualisation-software") Virtualisation
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Web-software") Web
                      #child-topic-Europe.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.computerweekly.com/resources/European-IT")
                            span.nav-list-sublist-header-topics-title Europe
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/France") Information technology in France
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Germany") Information technology (IT) in Germany
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Italy") Information technology in Italy
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Poland") Information technology in Poland
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Russia") Information technology in Russia
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Spain-information-technology") Information technology in Spain
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Netherlands") Information technology in The Netherlands
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Turkey") Information technology in Turkey
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Nordics") Information technology in the Nordics
                      #child-topic-Information-Management.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.computerweekly.com/resources/Information-management")
                            span.nav-list-sublist-header-topics-title Information Management
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Big-data-analytics") Big data
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Business-intelligence-and-analytics") Business intelligence and analytics
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Business-process-management-BPM") BPM
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Content-management") Content management
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-quality-management-and-governance") Quality/governance
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-warehousing") Data warehousing
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Database-management") Database management
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Master-data-management-MDM-and-integration") MDM/Integration
                      #child-topic-internet.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.computerweekly.com/resources/Internet-technology")
                            span.nav-list-sublist-header-topics-title internet
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Cloud-computing-software") Cloud
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/E-commerce-technology") E-commerce
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Internet-infrastructure") Internet infrastructure
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Social-media-technology") Social media
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Web-development") Web development
                      #child-topic-IT-skills.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.computerweekly.com/resources/IT-careers-and-IT-skills")
                            span.nav-list-sublist-header-topics-title IT skills
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/IT-education-and-training") Training
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/IT-jobs-and-recruitment") Jobs
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/IT-management-skills") Management skills
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/IT-technical-skills") Technical skills
                      #child-topic-Hardware.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.computerweekly.com/resources/IT-hardware")
                            span.nav-list-sublist-header-topics-title Hardware
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Chips-and-processor-hardware") Chips &#38; processors
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Computer-peripherals-and-printers") Printers
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Computer-storage-hardware") Storage
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-centre-hardware") Data centre
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Mobile-hardware") Mobile
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Networking-hardware") Networking
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/PC-hardware") PC
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Server-hardware") Servers
                      #child-topic-IT-security.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.computerweekly.com/resources/IT-security")
                            span.nav-list-sublist-header-topics-title IT security
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Antivirus-firewall-and-IDS-products") Antivirus
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Application-security-and-coding-requirements") Secure Coding and Application Programming
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Business-continuity-planning") Continuity
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Cloud-security") Cloud security 
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-breach-incident-management-and-recovery") Data Breach Incident Management and Recovery
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Endpoint-security") Endpoint and NAC Protection
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Hackers-and-cybercrime-prevention") Cybercrime
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Identity-and-access-management-products") IAM
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/IT-risk-management") Risk management
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Network-security-management") Network Security Management
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Privacy-and-data-protection") Data protection
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Regulatory-compliance-and-standard-requirements") Compliance Regulation and Standard Requirements
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Security-policy-and-user-awareness") Security policy and user awareness
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Web-application-security") Web Application Security
                      #child-topic-IT-services.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.computerweekly.com/resources/IT-services-and-outsourcing")
                            span.nav-list-sublist-header-topics-title IT services
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Cloud-computing-services") Cloud
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/IT-consultancy") Consultancy
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/IT-outsourcing") Outsourcing
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Managed-services-and-hosting-services") Hosting
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Offshore-IT-services") Offshore
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Technology-startups") Startups
                      #child-topic-Mobile.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.computerweekly.com/resources/Mobile-technology")
                            span.nav-list-sublist-header-topics-title Mobile
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Laptops-and-notebooks") Laptop
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Mobile-apps-and-software") Mobile software
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Mobile-networking") Mobile networking
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Smartphone-technology") Smartphone
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Tablet-computers") Tablet
                      #child-topic-Networking.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.computerweekly.com/resources/Networking-and-communication")
                            span.nav-list-sublist-header-topics-title Networking
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-centre-networking") Datacentre networking
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Internet-of-Things-IoT") Internet of Things
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Mobile-networks") Mobile
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Network-hardware") Network hardware
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Network-monitoring-and-analysis") Network monitoring and analysis
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Network-routing-and-switching") Network routing and switching
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Network-securitystrategy") Network security strategy
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Network-software") Network software
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Software-defined-networking-SDN") Software-defined networking
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Broadband-communications") Telecoms networks and broadband communications
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Unified-communications") Unified communications
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Voice-networking-and-VoIP") VoIP
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/WAN-performance-and-optimisation") WAN performance and optimisation
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Wireless-networking") Wireless
                      #child-topic-Storage.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.computerweekly.com/resources/Storage")
                            span.nav-list-sublist-header-topics-title Storage
                          span.view-all
                            | View All
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Cloud-storage") Cloud storage
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-protection-regulations-and-compliance") Compliance and storage
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Data-protection-backup-and-archiving") Backup
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Disaster-recovery") Disaster recovery
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Flash-storage-and-solid-state-drives-SSDs") Flash and SSDs
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/SAN-NAS-solid-state-RAID") Disk systems
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Storage-fabric-switches-and-networks") Storage switches
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/Storage-management-and-strategy") Storage management
                          li.nav-list-sublist-item
                            a(href="http://www.computerweekly.com/resources/virtualisation-and-storage") Virtualisation and storage
                      .nav-list-parent-topics
                        .nav-list-sublist-header.nav-list-sublist-header-gray Please select a category
                        ul.nav-list-sublist
                          li#parent-topic-Data-centre.nav-list-sublist-item Data centre
                          li#parent-topic-Enterprise-software.nav-list-sublist-item Enterprise software
                          li#parent-topic-Europe.nav-list-sublist-item Europe
                          li#parent-topic-Information-Management.nav-list-sublist-item Information Management
                          li#parent-topic-internet.nav-list-sublist-item internet
                          li#parent-topic-IT-skills.nav-list-sublist-item IT skills
                          li#parent-topic-Hardware.nav-list-sublist-item Hardware
                          li#parent-topic-IT-security.nav-list-sublist-item IT security
                          li#parent-topic-IT-services.nav-list-sublist-item IT services
                          li#parent-topic-Mobile.nav-list-sublist-item Mobile
                          li#parent-topic-Networking.nav-list-sublist-item Networking
                          li#parent-topic-Storage.nav-list-sublist-item Storage
              ul.nav-social
                li#navBarGooglePlus.nav-social-item(title="Follow ComputerWeekly on Google+")
                  a(href="https://plus.google.com/u/0/106175836851548215745/posts", target="_blank")
                    i.icon(data-icon="s")
                li#navBarFacebook.nav-social-item(title="Like ComputerWeekly on Facebook")
                  a(href="http://www.facebook.com/computerweekly", target="_blank")
                    i.icon(data-icon="u")
                li#navBarTwitter.nav-social-item(title="Follow @computerweekly on Twitter")
                  a(href="https://twitter.com/computerweekly", target="_blank")
                    i.icon(data-icon="c")
                li#navBarLinkedIn.nav-social-item(title="Follow ComputerWeekly on LinkedIn")
                  a(href="http://www.linkedin.com/company/3089746", target="_blank")
                    i.icon(data-icon="o")
          block content
          div
            // NetworkCoverageController, generated at 10:37:49 Wed Oct 21, 2015, by vappma24.techtarget.com
            section.latest-wrapper
              nav.latest-nav-wrapper
                h2
                  | Latest TechTarget
                  span.latest-title resources
                ul.latest-nav
                  li
                    a.latest-nav-item.selected(href="#", data-item="1")
                      | CIO
                      i.icon.mobile-icon(data-icon="5")
                      i.icon.desktop-icon(data-icon="A")
                  li
                    a.latest-nav-item(href="#", data-item="2")
                      | Security
                      i.icon.mobile-icon(data-icon="5")
                      i.icon.desktop-icon(data-icon="A")
                  li
                    a.latest-nav-item(href="#", data-item="3")
                      | Networking
                      i.icon.mobile-icon(data-icon="5")
                      i.icon.desktop-icon(data-icon="A")
                  li
                    a.latest-nav-item(href="#", data-item="4")
                      | Data Center
                      i.icon.mobile-icon(data-icon="5")
                      i.icon.desktop-icon(data-icon="A")
                  li
                    a.latest-nav-item(href="#", data-item="5")
                      | Data Management
                      i.icon.mobile-icon(data-icon="5")
                      i.icon.desktop-icon(data-icon="A")
              span.latest-nav-mask.before-mask
              span.latest-nav-mask.after-mask
              .latest-body
                .latest-content(data-item="1")
                  h2.searchcio
                    a(href="http://searchcio.techtarget.com")
                      span.logo-search Search
                      span.logo-1 CIO
                  ul
                    li
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchcio.techtarget.com/news/4500255832/SIM-CIO-survey-results-IT-agility-is-up-so-are-IT-budgets") SIM CIO survey results: IT agility is up, so are IT budgets
                      p
                        | The Society for Information Management"s annual CIO survey discovered that senior IT leaders are coming at business/IT agility ...
                    li
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchcio.techtarget.com/news/4500255751/The-benefits-of-a-CIO-CMO-partnership-rise-of-the-CMT") The benefits of a CIO-CMO partnership; rise of the CMT
                      p
                        | At the FutureM conference, CMOs talked up the value of a strong CIO-CMO alliance and discussed the emerging role of the chief ...
                    li.hide-for-small
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchcio.techtarget.com/feature/Building-an-online-game-platform-Startup-caters-to-developers") Building an online game platform: Startup caters to developers
                      p
                        | The online game platform startup STOVE aims to solve the catch-22 of platform businesses by offering business assistance to its ...
                .latest-content(data-item="2")
                  h2.searchsecurity
                    a(href="http://searchsecurity.techtarget.com")
                      span.logo-search Search
                      span.logo-1 Security
                  ul
                    li
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchsecurity.techtarget.com/news/4500255836/Report-CIA-directors-email-hacked-repeatedly-by-high-school-student") Report: CIA director"s email hacked repeatedly by high school student
                      p
                        | CIA director John Brennan had his email hacked multiple times and the hacker found that Brennan stored potentially sensitive ...
                    li
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchsecurity.techtarget.com/feature/Enterprise-benefits-of-network-intrusion-prevention-systems") Enterprise benefits of network intrusion prevention systems
                      p
                        | Expert Karen Scarfone explains how most organizations can benefit from intrusion prevention systems (IPSes), specifically ...
                    li.hide-for-small
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchsecurity.techtarget.com/news/4500255800/Social-media-attacks-a-growing-concern-for-enterprises") Social media attacks a growing concern for enterprises
                      p
                        | It"s important for online users to understand social media risks and the caution they should use when sharing personal ...
                .latest-content(data-item="3")
                  h2.searchnetworking
                    a(href="http://searchnetworking.techtarget.com")
                      span.logo-search Search
                      span.logo-1 Networking
                  ul
                    li
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchnetworking.techtarget.com/news/4500255824/Brocade-unveils-APIs-for-network-packet-brokers") Brocade unveils APIs for network packet brokers
                      p
                        | Brocade has released network packet broker technologies for mobile operators. The product family includes open APIs and a ...
                    li
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchnetworking.techtarget.com/tip/Is-25-Gigabit-Ethernet-the-cure-for-data-center-oversubscription") Is 25 Gigabit Ethernet the cure for data center oversubscription?
                      p
                        | With reduced hardware costs and more flexible lanes in the physical architecture, 25 Gigabit Ethernet may offer answers in ...
                    li.hide-for-small
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchnetworking.techtarget.com/news/4500255532/Using-threat-intelligence-feeds-data-before-paying") Using threat intelligence feeds data before paying
                      p
                        | In this week"s blogs, analysts consider threat intelligence feeds, Datiphy database security software and Riverbed"s new approach...
                .latest-content(data-item="4")
                  h2.searchdatacenter
                    a(href="http://searchdatacenter.techtarget.com")
                      span.logo-search Search
                      span.logo-1 Data
                      span.logo-2 Center
                  ul
                    li
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchdatacenter.techtarget.com/tip/Proper-CMDB-tools-to-guide-data-center-change-management-projects") Proper CMDB tools to guide data center change management projects
                      p
                        | Properly implemented and supported CMDB tools are key to business success. But which tools should you use to maximize the success...
                    li
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchdatacenter.techtarget.com/opinion/Traditional-IT-employees-must-adapt-to-cloud-way-of-life") Traditional IT employees must adapt to cloud way of life
                      p
                        | Traditional IT employees need to understand the big business picture and what the cloud offers to remain relevant.
                    li.hide-for-small
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchdatacenter.techtarget.com/feature/Data-storage-companies-add-intelligence-to-on-site-arrays") Data storage companies add intelligence to on-site arrays
                      p
                        | Data-aware storage yields new insights and management capabilities. But challenges include meeting IT organization"s needs, tying...
                .latest-content(data-item="5")
                  h2.searchdatamanagement
                    a(href="http://searchdatamanagement.techtarget.com")
                      span.logo-search Search
                      span.logo-1 Data
                      span.logo-2 Management
                  ul
                    li
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchdatamanagement.techtarget.com/opinion/Big-data-applications-to-drive-Walmart-reboot") Big data applications to drive Walmart reboot
                      p
                        | We may have outlived the era of killer apps in some part defined by Walmart, but Hadoop big data applications may help the ...
                    li
                      i.icon(data-icon="x")
                      h3
                        a(href="http://searchdatamanagement.techtarget.com/ezine/Business-Information/LBS-technology-expands-customer-service-business-operations") LBS technology expands customer service, business operations
                      p
                        | Many modern consumers and workers are always tuned-in to the digital world. They have laptops, tablets and smartphones that chirp...
                    li.hide-for-small
                      i.icon(data-icon="2")
                      h3
                        a(href="http://searchdatamanagement.techtarget.com/news/4500255330/MapR-does-JSON-format-Teradata-goes-on-AWS") MapR does JSON format; Teradata goes on AWS
                      p
                        | MapR takes JSON format data into Hadoop, while Teradata places its flagship database on AWS.
          div
            // FooterLinksController, generated at 10:37:52 Wed Oct 21, 2015, by vappma24.techtarget.com
            footer
              .content-left
                // Plug in TechTarget Logo inside the anchor tag here.
                .column.column-logo
                  a(href="#")
              .content-center
                ul.column
                  li.footer-item.footer-item-col-1.footer-item-row-1
                    a(href="http://www.computerweekly.com/about") About Us
                  li.footer-item.footer-item-col-1.footer-item-row-2
                    a(href="http://www.computerweekly.com/about/contact") Contact Us
                  li.footer-item.footer-item-col-1.footer-item-row-3
                    a(href="http://www.techtarget.com/html/privacy_policy.html") Privacy Policy
                  li.footer-item.footer-item-col-1.footer-item-row-4
                    a(href="http://www.techtarget.com/html/cookie_policy.html") Our Use of Cookies
                  li.footer-item.footer-item-col-1.footer-item-row-5
                    a(href="http://www.computerweekly.com/videos") Videos
                  li.footer-item.footer-item-col-1.footer-item-row-6
                    a(href="http://www.computerweekly.com/photostories") Photo Stories
                ul.column
                  li.footer-item.footer-item-col-2.footer-item-row-1
                    a(href="http://www.computerweekly.com/guides") Guides
                  li.footer-item.footer-item-col-2.footer-item-row-2
                    a(href="http://www.computerweekly.com/about/advertising") Advertisers
                  li.footer-item.footer-item-col-2.footer-item-row-3
                    a(href="http://www.computerweekly.com/about/partners") Business Partners
                  li.footer-item.footer-item-col-2.footer-item-row-4
                    a(href="http://www.techtarget.com/mediakit") Media Kit
                  li.footer-item.footer-item-col-2.footer-item-row-5
                    a(href="http://www.techtarget.com") Corporate Site
                  li.footer-item.footer-item-col-2.footer-item-row-6
                    a(href="http://www.techtarget.com/network") Experts
                ul.column.column-mobile-hidden
                  li.footer-item.footer-item-col-3.footer-item-row-1
                    a(href="http://reprints.ygsgroup.com/m/techtarget") Reprints
                  li.footer-item.footer-item-col-3.footer-item-row-2
                    a(href="http://www.computerweekly.com/archive") Archive
                  li.footer-item.footer-item-col-3.footer-item-row-3
                    a(href="http://www.computerweekly.com/sitemap") Site Map
                  li.footer-item.footer-item-col-3.footer-item-row-4
                    a(href="http://www.computerweekly.com/events") Events
                  li.footer-item.footer-item-col-3.footer-item-row-5
                    a(href="http://www.computerweekly.com/eproducts") E-Products
              .content-right
                .column.column-legal
                  p.footer-legal
                    | All Rights Reserved,
                    span
                      a(href="http://www.computerweekly.com/about/copyright") Copyright 2000 - 2015
                      | , TechTarget
        script(src="http://cdn.ttgtmedia.com/rms/ux/responsive/js/responsive-ui.min.js?v=6.33.1")
        // Begin Chartbeat
        script.
          var _sf_async_config={};
          _sf_async_config.uid = 41935;
          _sf_async_config.domain = 'techtargetnetwork.com';
          _sf_async_config.sections = 'CW, CW - NO TOPIC';
          _sf_async_config.authors = 'NO AUTHOR, HOME, CW - HOME';
          _sf_async_config.useCanonical = true;
          (function(){
          function loadChartbeat() {
          window._sf_endpt=(new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src',
          (('https:' == document.location.protocol) ? 'https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/' : 'http://static.chartbeat.com/') + 'js/chartbeat.js');
          document.body.appendChild(e);
          }
          var oldonload = window.onload;
          window.onload = (typeof window.onload != 'function') ?
          loadChartbeat : function() { oldonload(); loadChartbeat(); };
          })();
        // End Chartbeat
        // Begin GoogleTagManagerLegacy
        noscript
          iframe(src="//www.googletagmanager.com/ns.html?id=GTM-5CV3PD", height="0", width="0", style="display:none;visibility:hidden")
        script.
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-5CV3PD');
        // End GoogleTagManagerLegacy
        // Begin DataPoint Media
        script.
          (function() {
          var d=document,h=d.getElementsByTagName('head')[0],s=d.createElement('script'),sc = 'https:' == document.location.protocol ? 'https://' : 'http://';
          s.type='text/javascript';
          s.async=true;
          s.src=sc+'s.dpmsrv.com/dpm_b4c96d80854dd27e76d8cc9e21960eebda52e962.min.js';
          h.appendChild(s);
          })();
        // End DataPoint Media
        // Begin CrazyEgg
        script.
          setTimeout(function(){
          var a=document.createElement("script");
          var b=document.getElementsByTagName("script")[0];
          a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/7034.js?"+Math.floor(new Date().getTime()/3600000);
          a.async=true;
          a.type="text/javascript";
          b.parentNode.insertBefore(a,b)
          }, 1);
        // End CrazyEgg
        // Begin GoogleRemarketing
        script.
          var google_conversion_id = 1070110249;
          var google_conversion_label = "RRsgCOW4tgMQqayi_gM";
          var google_custom_params = window.google_tag_params;
          var google_remarketing_only = true;
        script(src="http://www.googleadservices.com/pagead/conversion.js")
        noscript
          div(style="display:inline;")
            img(height="1", width="1", style="border-style:none;", alt="", src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1070110249/?value=0&label=RRsgCOW4tgMQqayi_gM&guid=ON&script=0")
        script.
          var google_conversion_id = 1072226410;
          var google_conversion_label = "x3P_CIql1gMQ6sCj_wM";
          var google_custom_params = window.google_tag_params;
          var google_remarketing_only = true;
        script(src="http://www.googleadservices.com/pagead/conversion.js")
        noscript
          div(style="display:inline;")
            img(height="1", width="1", style="border-style:none;", alt="", src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1072226410/?value=0&label=x3P_CIql1gMQ6sCj_wM&guid=ON&script=0")
        // End GoogleRemarketing
        // Begin AudienceScience
        script(src="http://js.revsci.net/gateway/gw.js?csid=J07717&auto=t")
        // End AudienceScience
      #mobile-sidebars.mobile-sidebars
      #image-overlay.image-overlay
        .image-overlay-img
        .image-overlay-close Close
      //
        Component Load Times
        ====================
        DefaultPageController=6 ms
        DefaultLayoutController=9 ms
        AdsController=0 ms
        HaveAQuestionForAnExpertController=2 ms
        Total time=17 ms
        Request Serving Server: vappma24.techtarget.com
      script(type="text/javascript")
        window.NREUM||(NREUM={});NREUM.info={"applicationID":"313780","applicationTime":109,"beacon":"bam.nr-data.net","queueTime":0,"licenseKey":"1068cf12f6","transactionName":"ZQMAYxdYXUBSAkFbClxJLFgXVFJfWhtQVjBAD00d","agent":"js-agent.newrelic.com\\/nr-768.min.js","errorBeacon":"bam.nr-data.net"}
