doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(dir="ltr", lang="de")
//if IE 7
  html.no-js.lt-ie9.lt-ie8(dir="ltr", lang="de")
//if IE 8
  html.no-js.lt-ie9(dir="ltr", lang="de")
// [if gt IE 8] <!
html.no-js.gt-ie8(dir="ltr", lang="de")
  // <![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Information, Neuigkeiten und Tipps - demosite002
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="robots", content="noodp")
    link(rel="canonical", href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/demosite002/")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="http://fast.fonts.net/jsapi/124d48dd-e515-4302-8bfb-1d5c1e3da916.js")
    link(rel="stylesheet", href="http://media.qa.ttgtmedia.com/rms/ux/responsive/css/libs/normalize.css")
    link(rel="stylesheet", href="http://media.qa.ttgtmedia.com/rms/ux/responsive/css/libs/icomoon.css")
    link(rel="stylesheet", href="http://media.qa.ttgtmedia.com/rms/ux/responsive/css/libs/jquery.jscrollpane.css")
    link(rel="stylesheet", href="http://media.qa.ttgtmedia.com/rms/ux/responsive/css/libs/jquery-ui-1.10.3.custom.min.css")
    link(rel="stylesheet", href="http://media.qa.ttgtmedia.com/rms/ux/responsive/css/libs/responsive-carousel.css")
    link(rel="stylesheet", href="http://media.qa.ttgtmedia.com/rms/ux/responsive/css/libs/responsive-carousel.slide.css")
    link(rel="stylesheet", href="http://media.qa.ttgtmedia.com/rms/ux/responsive/css/libs/mediaelementplayer.min.css")
    link(rel="stylesheet", href="http://media.qa.ttgtmedia.com/rms/ux/responsive/css/v8-legacy.css")
    link(rel="stylesheet", href="http://media.qa.ttgtmedia.com/rms/ux/responsive/css/main.css?v=6.34-SNAPSHOT")
    //if IE 9
      link(rel="stylesheet", href="http://media.qa.ttgtmedia.com/rms/ux/responsive/css/main_2.css?v=6.34-SNAPSHOT")
    script(src="http://cdn.optimizely.com/js/148927072.js")
    script(src="http://media.qa.ttgtmedia.com/rms/ux/responsive/js/responsive.min.js?v=6.34-SNAPSHOT")
    link(rel="stylesheet", href="")
    link(rel="stylesheet", href="")
    link(rel="stylesheet", href="http://media.qa.ttgtmedia.com/rms/ux/responsive/css/german.css")
    link(rel="stylesheet", href="css/style-responsive.css")
    script(src="javascript/plugins/jquery.zrssfeed.js")
    script(src="javascript/script-responsive.js")
    script(src="javascript/video.js")
    script.
      TT("page", {"regHost":"http://users.qa.techtarget.com","adScheme":"10","lang":"de","ga":true,"timestamp":"2015-10-22 10:20:31","adId":"970252147","siteName":"demosite002","siteType":"microsite/unisite","gaPageTrackUrl":"/page/etpk_0/ptpk_0/false/MICROSITE LP/channel/cid_970252147/date_null/mem_0/clst_0/rtpk_0/idx_0","parentSite":"searchDataCenterDE","pageIndex":0,"siteId":0,"atHost":"http://go.qa.techtarget.com","isChannel":true,"appCode":"0","homeAdId":"970252147","zone":"MICROSITE LP"});
    link(rel="apple-touch-icon", sizes="144×144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="114×114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="72×72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", href="/apple-touch-icon-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="144×144", href="/apple-touch-icon-144x144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114×114", href="/apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72×72", href="/apple-touch-icon-72x72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="/apple-touch-icon-precomposed.png")
    link(href="/cps/script/preview/style.jsp", rel="stylesheet", type="text/css")
  body#microsite.german_embedded
    // Begin Google Tag Manager
    noscript
      iframe(src="//www.googletagmanager.com/ns.html?id=GTM-PWWZSH", height="0", width="0", style="display:none;visibility:hidden")
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PWWZSH');
    // End Google Tag Manager
    #site-container.site-container
      .vgn-ext-region(vgnextregionname="embedded-top", vgnextregionscope="template", vgnextregionid="b769466671686410VgnVCM1000002801460aRCRD")
        .vgn-ext-component(vgnextcomponentid="b9ca7816ab082410VgnVCM1000001100460aRCRD", vgnextxmlname="PinnedNavbar", vgnextdisplayname="Pinned Navbar Component")
          // PinnedNavBarController, generated at 10:20:31 Thu Oct 22, 2015, by qv-vcmma3.qa.techtarget.com
          // AdsController, generated at 10:20:33 Thu Oct 22, 2015, by qv-vcmma3.qa.techtarget.com
          .ad-wrapper.header-leaderboard.ad-mobile
            // AdsController, generated at 10:20:33 Thu Oct 22, 2015, by qv-vcmma3.qa.techtarget.com
          header.header
            button.nav-toggle
              i.icon(data-icon="9")
            a.header-logo.mobile-link(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE")
              span.header-logo-mobile SearchDataCenter.de
            a.header-logo.desktop-link(href="http://preview.qa.techtarget.com:8080/TechTargetDE/")
              img.header-logo-desktop.replace_2x(src="http://media.qa.ttgtmedia.com/rms/ux/responsive/img/nav_logo.png", alt="TechTarget")
              img.header-logo-small.replace_2x(src="http://media.qa.ttgtmedia.com/rms/ux/responsive/img/nav_logo.png", alt="TechTarget")
            button.header-search-toggle
              i.icon(data-icon="g")
            form.header-search(action="http://preview.qa.techtarget.com:8080/searchDataCenterDE/search/query", method="get")
              label.visuallyhidden(for="header-search-input") TechTarget-Netzwerk durchsuchen
              input#header-search-input.header-search-input(type="text", name="q", placeholder="TechTarget-Netzwerk durchsuchen")
            nav.nav
              ul.nav-list
                li.nav-list-item.nav-list-item-searchsites
                  .nav-list-item-header.searchdatacenterde
                    a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE")
                      span.nav-list-item-header-title
                        span.logo-search Search
                        span.logo-1 Data
                        span.logo-2 Center
                        span.logo-3 .de
                    i.icon.icon-arrow-down(data-icon="5")
                  .nav-list-sublist.nav-list-item-dropdown
                    ul.nav-list-item-jscroll
                      li.nav-list-sublist-item
                        a(href="http://preview.qa.techtarget.com:8080/searchSecurityDE") SearchSecurity.de
                      li.nav-list-sublist-item
                        a(href="http://preview.qa.techtarget.com:8080/searchStorageDE") SearchStorage.de
                      li.nav-list-sublist-item
                        a(href="http://preview.qa.techtarget.com:8080/searchNetworkingDE") SearchNetworking.de
                      li.nav-list-sublist-item
                        a(href="http://preview.qa.techtarget.com:8080/searchEnterpriseSoftwareDE") SearchEnterpriseSoftware.de
                li#categoriesMenu.nav-list-item.nav-list-item-german
                  .nav-list-item-header
                    span.nav-list-item-header-title Kategorien
                    i.icon.icon-arrow-down(data-icon="5")
                    i.icon.icon-navigation-detail(data-icon="A")
                  .nav-list-sublist.nav-list-item-dropdown
                    ul.nav-list-item-jscroll
                      li.nav-list-sublist-item
                        a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/news") News
                      li.nav-list-sublist-item
                        a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ratgeber") Ratgeber
                      li.nav-list-sublist-item
                        a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/tipps") Tipps
                      li.nav-list-sublist-item
                        a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/antworten") Antworten
                      li.nav-list-sublist-item
                        a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/meinungen") Meinungen
                      li.nav-list-sublist-item
                        a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/features") Features
                li#nav-list-item-topics.nav-list-item.nav-list-item-german
                  .nav-list-item-header
                    span.nav-list-item-header-title Themen
                    i.icon.icon-arrow-down(data-icon="5")
                    i.icon.icon-navigation-arrow(data-icon="B")
                  .nav-list-item-dropdown.infotype
                    .nav-list-item-jscroll
                      #child-topic-033c84279fffd310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Cloud-Computing")
                            span.nav-list-sublist-header-topics-title Cloud Computing
                          span.view-all
                            | Alle anschauen
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Cloud-Backup") Cloud Backup
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Cloud-Computing-Management-und-Kosten") Cloud-Management und -Kosten
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Cloud-Anwendungen") Cloud-Anwendungen
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Private-Cloud-Infrastruktur") Private Cloud
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Public-Cloud-Infrastruktur") Public Cloud
                      #child-topic-45f85dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Data-Center-Betrieb-und-Best-Practice")
                            span.nav-list-sublist-header-topics-title Data-Center-Betrieb
                          span.view-all
                            | Alle anschauen
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Data-Center-Kostenplanung") Data-Center-Budget
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Data-Center-Outsourcing-Services-und-Anbieter") Data-Center-Outsourcing
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Data-Center-Standards-und-Metriken") Data-Center-Standards
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Data-Center-Systems-Management") Data-Center-Systems
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/ITIL-ITSM-COBIT") ITIL
                      #child-topic-20f85dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Data-Center-Infrastruktur")
                            span.nav-list-sublist-header-topics-title Data-Center-Infrastruktur
                          span.view-all
                            | Alle anschauen
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Data-Center-Gehostete-Services") Data-Center-Hosting
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Data-Center-Design") Data-Center-Design
                      #child-topic-e9da5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Data-Center-Karriere")
                            span.nav-list-sublist-header-topics-title Data-Center-Karriere
                          span.view-all
                            | Alle anschauen
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Data-Center-Jobs-und-Personal") Data-Center-Jobs
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Data-Center-Zertifizierung-und-Weiterbildung") Data-Center-Weiterbildung
                      #child-topic-400a5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Data-Center-Server-Hardware-und-Betriebssysteme")
                            span.nav-list-sublist-header-topics-title Data-Center-Server
                          span.view-all
                            | Alle anschauen
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Blade-Server") Blade-Server
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Linux-Server") Linux-Server
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Mainframes") Mainframes
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Server-Hardware-Verpackung-Recycling-und-Elektroschrott") Server-Hardware
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Unix-Server") Unix-Server
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Windows-Server") Windows-Server
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/x86-Rack-Server") Rack-Server
                      #child-topic-5cca5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Desktops")
                            span.nav-list-sublist-header-topics-title Desktops
                          span.view-all
                            | Alle anschauen
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Desktop-Management") Desktop-Management
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/PC-Virtualisierung") PC-Virtualisierung
                      #child-topic-87da5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Mobility")
                            span.nav-list-sublist-header-topics-title Mobility
                          span.view-all
                            | Alle anschauen
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Mobile-Device-Management-MDM") MDM
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Smartphones") Smartphones
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Tablets") Tablets
                      #child-topic-777a5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Server-Virtualisierung-Hypervisor-und-Infrastruktur")
                            span.nav-list-sublist-header-topics-title Hypervisoren
                          span.view-all
                            | Alle anschauen
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Citrix-XenServer") XenServer
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Einsatz-von-VM-Appliances") VM-Appliances
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/High-Performance-Computing-und-virtuelle-Cluster") HPC und virtuelle Cluster
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Microsoft-Hyper-V") Hyper-V
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Open-Source-Virtualisierung") Open-Source-Virtualisierung
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Oracle-VM-und-andere-Virtualisierungs-Technologien") Oracle VM
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Server-Hardware-und-Virtualisierung") Server-Virtualisierung
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Virtualisierung-Anbietervergleich") Virtualisierungsanbieter
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/VMware") VMware
                      #child-topic-5d9a5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Server-Virtualisierung-Management-Tools-und-Praxis")
                            span.nav-list-sublist-header-topics-title Virtualisierung-Management
                          span.view-all
                            | Alle anschauen
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Migration-P2V-V2V-und-V2P") P2V, V2V und V2P
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Virtualisierung-Kapazitaetsplanung") Virtualisierung: Kapazit&#228;tsplanung
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Virtuelle-Maschinen-Bereitstellung-und-Konfiguration") VM-Konfiguration
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Virtuelle-Maschinen-Monitoring-Fehlerbehebung-Alerting") VM-Monitoring
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/VM-Performance-Management") VM-Performance
                      #child-topic-36ba5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Server-Virtualisierung-Strategien-und-Anwendungsbeispiele")
                            span.nav-list-sublist-header-topics-title Virtualisierungsstrategie
                          span.view-all
                            | Alle anschauen
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Cloud-Computing-und-Virtualisierung") Cloud Computing
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Desktop-Virtualisierung") Desktop-Virtualisierung
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Disaster-Recovery-Strategien-Business-Continuity-und-Virtualisierung") Disaster Recovery
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Server-Konsolidierung-mit-Virtualisierung") Server-Konsolidierung
                          li.nav-list-sublist-item
                            a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ressourcen/Virtualisierte-Test-und-Entwicklungsumgebungen") Virtuelle Testumgebungen
                      .nav-list-parent-topics
                        .nav-list-sublist-header.nav-list-sublist-header-gray Bitte w&#228;hlen Sie eine Kategorie
                        ul.nav-list-sublist
                          li#parent-topic-033c84279fffd310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Cloud Computing
                          li#parent-topic-45f85dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Data-Center-Betrieb
                          li#parent-topic-20f85dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Data-Center-Infrastruktur
                          li#parent-topic-e9da5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Data-Center-Karriere
                          li#parent-topic-400a5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Data-Center-Server
                          li#parent-topic-5cca5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Desktops
                          li#parent-topic-87da5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Mobility
                          li#parent-topic-777a5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Hypervisoren
                          li#parent-topic-5d9a5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Virtualisierung-Management
                          li#parent-topic-36ba5dba95b5e310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Virtualisierungsstrategie
                li#premiumContentMenu.nav-list-item.nav-list-item-german
                  .nav-list-item-header
                    span.nav-list-item-header-title
                      | Premium
                      em Pro+
                    i.icon.icon-arrow-down(data-icon="5")
                    i.icon.icon-navigation-arrow(data-icon="B")
                  .nav-list-sublist.nav-list-item-dropdown
                    ul.nav-list-item-jscroll
                      li.nav-list-sublist-item
                        a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ehandbooks") E-Handbooks
                      li.nav-list-sublist-item
                        a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ezines") E-Zines
                      li.nav-list-sublist-item
                        a(href="http://de.test.bitpipe.com") White Paper
                      li.nav-list-sublist-item
                        a(href="http://users.qa.searchdatacenter.de/registration/searchDataCenterDE/LoginRegister.page") Registrierung
                      li.nav-list-sublist-item.sponsored
                        a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/gesponserte_inhalte") Gesponserte Inhalte
      block content        
      .vgn-ext-region(vgnextregionname="embedded-bottom", vgnextregionscope="template", vgnextregionid="cf69466671686410VgnVCM1000002801460aRCRD")
        .vgn-ext-component(vgnextcomponentid="9de80d75fb103410VgnVCM1000002801460aRCRD", vgnextxmlname="NetworkCoverage", vgnextdisplayname="Network Coverage Component")
          // NetworkCoverageController, generated at 10:20:34 Thu Oct 22, 2015, by qv-vcmma3.qa.techtarget.com
          section.latest-wrapper
            nav.latest-nav-wrapper
              h2
                | Neueste TechTarget-
                span.Neuester-Titel Ressourcen
              ul.latest-nav
                li
                  a.latest-nav-item.selected(href="#", data-item="1")
                    | Security
                    i.icon.mobile-icon(data-icon="5")
                    i.icon.desktop-icon(data-icon="A")
                li
                  a.latest-nav-item(href="#", data-item="2")
                    | Storage
                    i.icon.mobile-icon(data-icon="5")
                    i.icon.desktop-icon(data-icon="A")
                li
                  a.latest-nav-item(href="#", data-item="3")
                    | Networking
                    i.icon.mobile-icon(data-icon="5")
                    i.icon.desktop-icon(data-icon="A")
                li
                  a.latest-nav-item(href="#", data-item="4")
                    | Enterprise Software
                    i.icon.mobile-icon(data-icon="5")
                    i.icon.desktop-icon(data-icon="A")
            span.latest-nav-mask.before-mask
            span.latest-nav-mask.after-mask
            .latest-body
              .latest-content(data-item="1")
                h2.searchsecurityde
                  a(href="http://preview.qa.techtarget.com:8080/searchSecurityDE")
                    span.logo-search Search
                    span.logo-1 Security
                    span.logo-2 .de
                ul
                  li
                    h3
                      a(href="http://www.qa.searchsecurity.de/lernprogramm/DLP-Produkte-Einsatzszenarien-fuer-Data-Loss-Prevention") DLP-Produkte: Einsatzszenarien f&#252;r Data Loss Prevention
                    p
                      | Wenn Sie die Sicherheit sensibler Daten maximal gew&#228;hrleisten wollen, dann k&#246;nnen DLP-L&#246;sungen eine sinnvolle Investition sein &#8211; ...
                  li
                    h3
                      a(href="http://www.qa.searchsecurity.de/news/970231691/Test-EOC-2-for-Wolfgang") Test EOC 2 for Wolfgang
                    p summary text for test german eoc news item.
                  li.hide-for-small
                    h3
                      a(href="http://www.qa.searchsecurity.de/tipp/Web-Sicherheit-Wie-ein-Secure-Web-Gateway-SWG-helfen-kann") Web-Sicherheit: Wie ein Secure Web Gateway (SWG) helfen kann
                    p
                      | Man setzt Secure Web Gateways (SWGs) ein, um Bedrohungen aus dem Web zu bek&#228;mpfen. Dazu geh&#246;ren Malware, Botnets, E-Mail-Security...
              .latest-content(data-item="2")
                h2.searchstoragede
                  a(href="http://preview.qa.techtarget.com:8080/searchStorageDE")
                    span.logo-search Search
                    span.logo-1 Storage
                    span.logo-2 .de
                ul
                  li
                    h3
                      a(href="http://www.qa.searchstorage.de/ebook/searchStorageDE-German-EBook/Data-protection-Chapter") Data protection Chapter
                    p Data protection chapter summary
                  li
                    h3
                      a(href="http://www.qa.searchstorage.de/ebook/sStorageDE-German-Single-Chapter-Ebook") sStorageDE German Single Chapter Ebook
                    p Summary text for single chapter ebook on searchStorage DE in QA environment.
                  li.hide-for-small
                    h3
                      a(href="http://www.qa.searchstorage.de/sonderbeitrag/Umfrage-Das-Einkaufen-von-Storage-wird-komplizierter") Umfrage: Das Einkaufen von Storage wird komplizierter
                    p
                      | Wer Speichersysteme einkaufen will, muss heute mehr Gesichtspunkte betrachten als fr&#252;her, weil sich die Technologie stark weiter ...
              .latest-content(data-item="3")
                h2.searchnetworkingde
                  a(href="http://preview.qa.techtarget.com:8080/searchNetworkingDE")
                    span.logo-search Search
                    span.logo-1 Networking
                    span.logo-2 .de
                ul
                  li
                    h3
                      a(href="http://www.qa.searchnetworking.de/meinung/Zehn-Dinge-die-Windows-10-Mobile-besser-macht-als-Windows-Phone") Zehn Dinge, die Windows 10 Mobile besser macht als Windows Phone
                    p
                      | Windows 10 Mobile wird f&#252;r Ende des Jahres erwartet. Diese zehn Dinge macht das neue Smartphone-Betriebssystem schon jetzt besser...
                  li
                    h3
                      a(href="http://www.qa.searchnetworking.de/meinung/Sicherheitsrisiken-von-Industrie-40-und-IoT-verstehen") Sicherheitsrisiken von Industrie 4.0 und IoT verstehen
                    p
                      | Bei Ger&#228;ten im Internet der Dinge oder von Industrie 4.0 kommt die Sicherheit zu kurz. Security by Design und Privacy by Design ...
                  li.hide-for-small
                    h3
                      a(href="http://www.qa.searchnetworking.de/sonderbeitrag/WLAN-der-naechsten-Generation-Wie-SDN-die-drahtlose-Landschaft-veraendert") WLAN der n&#228;chsten Generation: Wie SDN die drahtlose Landschaft ver&#228;ndert
                    p
                      | SDN ist bei allen gro&#223;en Anbietern im Bereich  WLAN und Wi-Fi in der Planung f&#252;r die Zukunft. Das drahtlose Netzwerk ver&#228;ndert ...
              .latest-content(data-item="4")
                h2.searchenterprisesoftwarede
                  a(href="http://preview.qa.techtarget.com:8080/searchEnterpriseSoftwareDE")
                    span.logo-search Search
                    span.logo-1 Enterprise
                    span.logo-2 Software
                    span.logo-3 .de
                ul
                  li
                    h3
                      a(href="http://www.qa.searchenterprisesoftware.de/ehandbook/Welche-Neuerungen-bringt-SQL-Server-2014") Welche Neuerungen bringt SQL-Server 2014?
                    p
                      | SQL Server 2014 hat zahlreiche Verbesserungen bei Hochverf&#252;gbarkeit, Skalierbarkeit und Cloud-Integration sowie die brandneue ...
                  li
                    h3
                      a(href="http://www.qa.searchenterprisesoftware.de/tipp/Acht-Grundprinzipien-von-SOA-Service-Discoverability-und-Servicekomposition") Acht Grundprinzipien von SOA: Service Discoverability und Servicekomposition
                    p
                      | Im vierten Teil der sechsteiligen SOA-Artikelserie er&#246;rtert Thomas Erl die beiden SOA-Grundprinzipien Service Discoverability und...
                  li.hide-for-small
                    h3
                      a(href="http://www.qa.searchenterprisesoftware.de/sonderbeitrag/SAP-HANA-Hadoop-Erweiterung-Ein-grosser-Schritt-in-Richtung-Internet-der-Dinge") SAP-HANA-Hadoop-Erweiterung: ein gro&#223;er Schritt in Richtung Internet der Dinge
                    p
                      | Das Service Pack 10 f&#252;r SAP HANA ist auf Big Data und Remote-Synchronisation &#252;ber das ganze Unternehmen ausgerichtet. Eckpunkte ...
        .vgn-ext-component(vgnextcomponentid="f2ec7816ab082410VgnVCM1000001100460aRCRD", vgnextxmlname="FooterLinks", vgnextdisplayname="Footer Links Component")
          // FooterLinksController, generated at 10:20:35 Thu Oct 22, 2015, by qv-vcmma3.qa.techtarget.com
          footer
            .content-left
              // Plug in TechTarget Logo inside the anchor tag here.
              .column.column-logo
                a(href="#")
            .content-center
              ul.column
                li.footer-item.footer-item-col-1.footer-item-row-1
                  a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ueber") &#220;ber uns
                li.footer-item.footer-item-col-1.footer-item-row-2
                  a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ueber/kontakt") Impressum
                li.footer-item.footer-item-col-1.footer-item-row-3
                  a(href="http://www.techtarget.com/html/privacy_policy_de.html") Datenschutz
                li.footer-item.footer-item-col-1.footer-item-row-4
                  a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ueber/werbung") Werbekunden
                li.footer-item.footer-item-col-1.footer-item-row-5
                  a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/ueber/partners") Business-Partner
              ul.column
                li.footer-item.footer-item-col-2.footer-item-row-1
                  a(href="http://www.techtarget.com") TechTarget-Webseite
                li.footer-item.footer-item-col-2.footer-item-row-2
                  a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/events") Events
                li.footer-item.footer-item-col-2.footer-item-row-3
                  a(href="http://www.techtarget.com/html/topics_germany_de.html") Mediadaten
                li.footer-item.footer-item-col-2.footer-item-row-4
                  a(href="http://reprints.ygsgroup.com/m/techtarget") Nachdrucke
              ul.column.column-mobile-hidden
                li.footer-item.footer-item-col-3.footer-item-row-1
                  a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/experten") Experten
                li.footer-item.footer-item-col-3.footer-item-row-2
                  a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/uebersicht") Sitemap
                li.footer-item.footer-item-col-3.footer-item-row-3
                  a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/archiv") Archiv
                li.footer-item.footer-item-col-3.footer-item-row-4
                  a(href="http://preview.qa.techtarget.com:8080/searchDataCenterDE/eproducts") E-Produkte
            .content-right
              .column.column-legal
                p.footer-legal
                  | Alle Rechte vorbehalten,
                  span
                    a(href="http://www.techtarget.com/html/terms_of_use_de.html") Copyright 0 - 2015
                    | , TechTarget
      script(src="http://media.qa.ttgtmedia.com/rms/ux/responsive/js/responsive-ui.min.js?v=6.34-SNAPSHOT")
      // Begin Chartbeat
      script.
        var _sf_async_config={};
        _sf_async_config.uid = 41935;
        _sf_async_config.domain = 'techtargetnetwork.com';
        _sf_async_config.sections = ',  - NO TOPIC';
        _sf_async_config.authors = 'NO AUTHOR, MICROSITE LP,  - MICROSITE LP';
        _sf_async_config.useCanonical = true;
        (function(){
        function loadChartbeat() {
        window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src',
        (('https:' == document.location.protocol) ? 'https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/' : 'http://static.chartbeat.com/') + 'js/chartbeat.js');
        document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
        loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
      // End Chartbeat
      // Begin DataPoint Media
      script.
        (function() {
        var d=document,h=d.getElementsByTagName('head')[0],s=d.createElement('script'),sc = 'https:' == document.location.protocol ? 'https://' : 'http://';
        s.type='text/javascript';
        s.async=true;
        s.src=sc+'s.dpmsrv.com/dpm_b4c96d80854dd27e76d8cc9e21960eebda52e962.min.js';
        h.appendChild(s);
        })();
      // End DataPoint Media
      // Begin CrazyEgg
      script.
        setTimeout(function(){
        var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/7034.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;
        a.type="text/javascript";
        b.parentNode.insertBefore(a,b)
        }, 1);
      // End CrazyEgg
      // Begin GoogleRemarketing
      script.
        var google_conversion_id = 1070110249;
        var google_conversion_label = "RRsgCOW4tgMQqayi_gM";
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
      script(src="http://www.googleadservices.com/pagead/conversion.js")
      noscript
        div(style="display:inline;")
          img(height="1", width="1", style="border-style:none;", alt="", src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1070110249/?value=0&label=RRsgCOW4tgMQqayi_gM&guid=ON&script=0")
      script.
        var google_conversion_id = 1072226410;
        var google_conversion_label = "x3P_CIql1gMQ6sCj_wM";
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
      script(src="http://www.googleadservices.com/pagead/conversion.js")
      noscript
        div(style="display:inline;")
          img(height="1", width="1", style="border-style:none;", alt="", src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1072226410/?value=0&label=x3P_CIql1gMQ6sCj_wM&guid=ON&script=0")
      // End GoogleRemarketing
      #mobile-sidebars.mobile-sidebars
      #image-overlay.image-overlay
        .image-overlay-img
        .image-overlay-close Close
      //- script(type="text/javascript").
      //-   var vgnextproperties = {"site":{"siteId":"0f5f36ea4ceaf410VgnVCM1000001100460aRCRD","siteAppSvcsId":"fe5f36ea4ceaf410VgnVCM1000001100460a____","homeChannelId":"5c5f36ea4ceaf410VgnVCM1000001100460aRCRD","homeChannelName":"Home","siteName":"demosite002"},"vgnextoid":"5c5f36ea4ceaf410VgnVCM1000001100460aRCRD","channelName":"Home","allformats":["default","BigAdOnly","aiog","answer","archive","article","confirmation","edit","editorialCLT","embedded","embeddedResource","error","error404","feature","loggedIn","news","podcast","portfolio","print","quiz","report","survey","taglist","tip","tutorial"],"deliveryType":"dsm","isPublished":true,"format":"default","vgnextxmlname":"VgnExtPage","vgnextdisplayname":"Channel Page","vgnextchannel":"5c5f36ea4ceaf410VgnVCM1000001100460aRCRD","previewWebAppContext":"/vgn-ext-templating","templateId":"eb58466671686410VgnVCM1000002801460aRCRD","pageType":"channelPage","useDefaultChannel":false,"vgnextnoice":false,"channelPath":"/Home","isApproved":true,"requestParams":{"mediaServerUrl":"http://media.qa.ttgtmedia.com","bodyClass":"german_embedded","jsConfig":"{\\"regHost\":\"http://users.qa.techtarget.com\",\"adScheme\":\"10\",\"lang\":\"de\",\"ga\":true,\"timestamp\":\"2015-10-22 10:20:31\",\"adId\":\"970252147\",\"siteName\":\"demosite002\",\"siteType\":\"microsite/unisite\",\"gaPageTrackUrl\":\"/page/etpk_0/ptpk_0/false/MICROSITE LP/channel/cid_970252147/date_null/mem_0/clst_0/rtpk_0/idx_0\",\"parentSite\":\"searchDataCenterDE\",\"pageIndex\":0,\"siteId\":0,\"atHost\":\"http://go.qa.techtarget.com\",\"isChannel\":true,\"appCode\":\"0\",\"homeAdId\":\"970252147\",\"zone\":\"MICROSITE LP\"}","htmlAttributes":"dir=\"ltr\" lang=\"de\"","mediaBaseUrl":"http://media.qa.ttgtmedia.com/rms/ux/responsive","org.springframework.web.servlet.HandlerMapping.pathWithinHandlerMapping":"responsive/microsites/embedded_oneColumn","org.springframework.web.servlet.HandlerMapping.bestMatchingPattern":"/template/**/","bodyId":"microsite"},"vgnextobjecttypeid":"2119c16755589f00VgnVCM1000002d01130a____","templateName":"Responsive - Microsite - Embedded One Column"};
      script(type="text/javascript", src="/cps/script/preview/init.jsp")
      //
        Component Load Times
        ====================
        DefaultPageController=235 ms
        PinnedNavBarController=3230 ms
        AdsController=1 ms
        SponsoredContentHeaderController=1 ms
        MicrositeTabsController=10 ms
        NetworkCoverageController=972 ms
        FooterLinksController=24 ms
        Total time=4473 ms
        Request Serving Server: qv-vcmma3.qa.techtarget.com
      //- script(type="text/javascript").
      //-   if (!NREUMQ.f) { NREUMQ.f=function() {NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" + "js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","bam.nr-data.net","bb8014186b",750338,"b1dQNUsEX0BYB0wICVYdfA5LCFBfUB5dBTNKWx1L",0,5988,new Date().getTime(),"","","","",""]);
