doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(dir="ltr", lang="fr")
//if IE 7
  html.no-js.lt-ie9.lt-ie8(dir="ltr", lang="fr")
//if IE 8
  html.no-js.lt-ie9(dir="ltr", lang="fr")
// [if gt IE 8] <!
html.no-js.gt-ie8(dir="ltr", lang="fr")
  // <![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title LeMagIT | Toute l&#8217;information IT pour l&#8217;entreprise
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="description", content="Toute l’information et l’actualité IT sont sur LeMagIT.fr. Restez à jour grâce à nos actus, études de cas, livres blancs, interviews et vidéos.")
    meta(name="robots", content="noodp")
    link(rel="canonical", href="http://www.lemagit.fr/")
    meta(name="google-site-verification", content="Kmh8EXlcS3pjazFHqxhV33WPW---7oEHpq-hgOrab7A")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="http://fast.fonts.net/jsapi/124d48dd-e515-4302-8bfb-1d5c1e3da916.js")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/normalize.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/icomoon.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/jquery.jscrollpane.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/jquery-ui-1.10.3.custom.min.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/responsive-carousel.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/responsive-carousel.slide.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/libs/mediaelementplayer.min.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/v8-legacy.css")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/main.css?v=6.33.1")
    //if IE 9
      link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/main_2.css?v=6.33.1")
    script(src="http://cdn.optimizely.com/js/148927072.js")
    script(src="http://cdn.ttgtmedia.com/rms/ux/responsive/js/responsive.min.js?v=6.33.1")
    link(rel="stylesheet", href="http://cdn.ttgtmedia.com/rms/ux/responsive/css/lemagit.css")
    script.
      TT("page", {"regHost":"http://users.techtarget.com","adScheme":"12","gaSiteAcct":"UA-636822-2","lang":"fr","ga":true,"timestamp":"2015-10-26 14:30:16","adId":"2240182705","siteName":"LeMagIT","adAbbr":"LeMagIT","siteType":"editorial","gaPageTrackUrl":"/page/etpk_0/ptpk_0/false/HOME/channel/cid_2240182705/date_null/mem_0/clst_0/rtpk_0/idx_0","siteId":247,"atHost":"http://go.techtarget.com","isChannel":true,"homeAdId":"2240182705","zone":"HOME"});
    link(rel="apple-touch-icon", sizes="144×144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="114×114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="72×72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", href="/apple-touch-icon-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="144×144", href="/apple-touch-icon-144x144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114×114", href="/apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72×72", href="/apple-touch-icon-72x72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="/apple-touch-icon-precomposed.png")
    link(rel='stylesheet', href='css/style-responsive.css', type='text/css', media='screen')
    script(src='javascript/jgestures.min.js')
    script(type='text/javascript', src='javascript/plugins/jquery.zrssfeed.js')
    script(src='javascript/script-responsive.js')
    script(src='javascript/video.js')
  body#home.lemagit_embedded
    #site-container.site-container
      div
        div
          // PinnedNavBarController, generated at 18:31:36 Sun Oct 25, 2015, by vappma24.techtarget.com
          // AdsController, generated at 18:31:36 Sun Oct 25, 2015, by vappma24.techtarget.com
          #interstitial.ad.ad-ist
            script
              GPT.display('interstitial')
          .ad-wrapper.header-leaderboard.ad-mobile
            // AdsController, generated at 18:31:36 Sun Oct 25, 2015, by vappma24.techtarget.com
            #mobile-lb.ad.ad-mb
              script
                GPT.display('mobile-lb')
          header.header
            button.nav-toggle
              i.icon(data-icon="9")
            a.header-logo.mobile-link(href="http://www.lemagit.fr")
              span.header-logo-mobile
                img(src="http://cdn.ttgtmedia.com/rms/ux/responsive/img/lemag_logo_mobile.png")
            a.header-logo.desktop-link(href="http://www.lemagit.fr")
              img.header-logo-desktop.replace_2x(src="http://cdn.ttgtmedia.com/rms/ux/responsive/img/lemag_logo.png", alt="LeMagIT")
              img.header-logo-small.replace_2x(src="http://cdn.ttgtmedia.com/rms/ux/responsive/img/lemag_logo.png", alt="LeMagIT")
            a.header-logo-tt-desktop(href="http://www.techtarget.com/fr/")
              img.replace_2x(src="http://cdn.ttgtmedia.com/rms/ux/responsive/img/cw_tt_logo.png", alt="TechTarget")
            button.header-search-toggle
              i.icon(data-icon="g")
            form.header-search(action="http://www.lemagit.fr/recherche/question", method="get")
              label.visuallyhidden(for="header-search-input") Rechercher sur LeMagIT
              input#header-search-input.header-search-input(type="text", name="q", placeholder="Rechercher sur LeMagIT")
            nav.nav
              a.nav-join-pro(href="http://users.lemagit.fr/registration/LeMagIT/LoginRegister.page")
                span S"inscrire maintenant.
              .nav-user
                a.nav-user-login(href="http://users.lemagit.fr/registration/LeMagIT/LoginRegister.page")
                  span.nav-user-action S"identifier
                a.nav-user-register(href="http://users.lemagit.fr/registration/LeMagIT/Register.page")
                  span.nav-user-action S"enregistrer
              script.
                TT(["context","lib/jquery"],function(c,$){var u=c.getUser();if(u.loggedIn){$('div.nav-user').children("a:first")
                .before('<span class="nav-user-name">'+u.displayName+'</span>')
                .attr("href", "http://users.lemagit.fr/registration/LeMagIT/Logout.page?fromURL=" + window.location.href).children("span.nav-user-action:first").text('Déconnexion');
                $('a.nav-user-register span').hide();$('a.nav-user-login span').addClass('logout');
                $('.nav-join-pro').removeAttr('href');$('a.nav-join-pro span').hide();}else{$('div.nav-user').children("a:first").attr("href", "http://users.lemagit.fr/registration/LeMagIT/LoginRegister.page?fromURL="+window.location.href);
                $('a.nav-user-register span').attr("href", "http://users.lemagit.fr/registration/LeMagIT/Register.page?fromURL="+window.location.href);
                $('a.nav-join-pro').attr("href", "http://users.lemagit.fr/registration/LeMagIT/LoginRegister.page?fromURL="+window.location.href);}});
              .nav-links
                ul
                  li#nav-links-Contacts
                    a(href="http://www.lemagit.fr/a-propos/contact") Contacts
                  li#nav-links-Utilisationdescookies
                    a(href="http://www.techtarget.com/html/cookie_policy_fr.html") Utilisation des cookies
                  li#nav-links-Agenda
                    a(href="http://www.lemagit.fr/evenements") Agenda
                  li.nav-links-sponsoredcommunities
                    a(href="http://www.lemagit.fr/espace_partenaires") Espace partenaires
              .nav-rss
                a(href="http://www.lemagit.fr/rss")
                  span.nav-user-action RSS
              ul.nav-list
                li#categoriesMenu.nav-list-item.nav-list-item-lemag
                  .nav-list-item-header
                    span.nav-list-item-header-title Cat&#233;gories
                    i.icon.icon-arrow-down(data-icon="5")
                    i.icon.icon-navigation-detail(data-icon="A")
                  .nav-list-sublist.nav-list-item-dropdown
                    ul.nav-list-item-jscroll
                      li.nav-list-sublist-item
                        a(href="http://www.lemagit.fr/actualites") Actualit&#233;s
                      li.nav-list-sublist-item
                        a(href="http://www.lemagit.fr/Projets-IT") Projets IT
                      li.nav-list-sublist-item
                        a(href="http://www.lemagit.fr/conseils") Conseils IT
                      li.nav-list-sublist-item
                        a(href="http://www.lemagit.fr/opinions") Opinions
                      li.nav-list-sublist-item
                        a(href="http://www.lemagit.fr/dessins") Dessins
                li#nav-list-item-topics.nav-list-item.nav-list-item-lemag
                  .nav-list-item-header
                    span.nav-list-item-header-title Technologies
                    i.icon.icon-arrow-down(data-icon="5")
                    i.icon.icon-navigation-arrow(data-icon="B")
                  .nav-list-item-dropdown.infotype
                    .nav-list-item-jscroll
                      #child-topic-359d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Applications-dentreprise")
                            span.nav-list-sublist-header-topics-title Applications d"entreprise
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Applications-metiers") Applications m&#233;tiers
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Applications-transversales-PGI-ERP") ERP
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Architectures-logicielles-SOA") SOA
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Bureautique") Bureautique
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Collaboratif") Collaboratif
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Gestion-de-la-relation-client-CRM") CRM
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Langages") Langages
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Middleware") Middleware
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Open-Source") Open Source
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Outils-de-developpement") Outils de d&#233;veloppement
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/SAP") SAP
                      #child-topic-b39d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Carriere")
                            span.nav-list-sublist-header-topics-title Carri&#232;re
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Formation") Formation
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Recrutement") Recrutement
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Remuneration") R&#233;mun&#233;ration
                      #child-topic-b59d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Datacenter")
                            span.nav-list-sublist-header-topics-title Datacenter
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Administration-de-systemes") Administration syst&#232;mes
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Architectures-de-Datacenters") Architecture de Datacenter
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Cloud-Grid-Computing") Cloud &#38; Grid Computing
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Gestion-et-administration-du-Datacenter") Gestion du Datacenter
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Green-IT") Green IT
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/HPC") HPC
                      #child-topic-339d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Economie")
                            span.nav-list-sublist-header-topics-title Economie
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Constructeurs") Constructeurs
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Editeurs") Editeurs
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Equipementiers") Equipementiers
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Operateurs-et-integrateurs-reseaux") Op&#233;rateurs, Int&#233;grateurs
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/SSII") SSII
                      #child-topic-379d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Gestion-des-donnees")
                            span.nav-list-sublist-header-topics-title Gestion des donn&#233;es
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Base-de-donnees") Base de donn&#233;es
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Big-Data") Big Data
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/BPM") BPM
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Datawarehouse") Datawarehouse
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Formats-et-archivage") Formats et archivage
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/GED-Gestion-de-contenus") GED &#8211; Gestion de contenus
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Internet-et-Intranets") Internet et Intranets
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/MDM-Gouvernance-Qualite") MDM, Gouvernance, Qualit&#233;
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Outils-decisionnels-et-analytiques") D&#233;cisionnel, Analytique
                      #child-topic-b79d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Poste-de-travail-mobilite")
                            span.nav-list-sublist-header-topics-title Poste de travail &#38; mobilit&#233;
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Administration-des-postes-de-travail") Administration PC et Mobiles
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Internet-et-outils-Web") Internet et outils Web
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Mobilite") Mobilit&#233;
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/PC-portables-et-peripheriques") PC
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/RFID-et-Internet-des-objets") Internet des objets
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Virtualisation-du-poste-de-travail") Virtualisation, VDI
                      #child-topic-389d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Reseaux-telecoms")
                            span.nav-list-sublist-header-topics-title R&#233;seaux &#38; t&#233;l&#233;coms
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Administration-de-reseaux") Administration de r&#233;seaux
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Haut-debit-Acces-Internet") Haut d&#233;bit Acc&#232;s Internet
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/LAN-WLAN") LAN - WLAN
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/SDN-Virtualisation-de-reseaux") SDN
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/ToIP-VoIP") ToIP - VoIP
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Telephonie-mobile") T&#233;l&#233;phonie mobile
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/WAN-VPN-IP") WAN - VPN IP
                      #child-topic-349d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Secteur-dactivite")
                            span.nav-list-sublist-header-topics-title Secteur d"activit&#233;
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Industrie-et-distribution") Industrie et distribution
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Secteur-public") Secteur public
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Services") Services
                      #child-topic-369d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Serveurs")
                            span.nav-list-sublist-header-topics-title Serveurs
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Mainframes") Mainframes
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Processeurs-et-composants") Processeurs et composants
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Unix-Risc-et-Itanium") Unix (Risc et Itanium)
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/x86") x86
                      #child-topic-3a9d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Services-Cloud")
                            span.nav-list-sublist-header-topics-title Services Cloud
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Administration-et-supervision-du-Cloud") Administration du Cloud
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Backup-en-Cloud") Backup en Cloud
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/IaaS") IaaS
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/PaaS") PaaS
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/SaaS") SaaS
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Stockage-en-Cloud") Stockage en Cloud
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Securite-du-Cloud") S&#233;curit&#233; du Cloud
                      #child-topic-b49d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Services-IT")
                            span.nav-list-sublist-header-topics-title Services IT
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/BPO") BPO
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Developpement-maintenance-et-recette") Maintenance logicielle
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Externalisation") Externalisation
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Gestion-de-projet") Gestion de projet
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Gouvernance-et-qualite-Itil") Gouvernance, ITIL
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Inde") Inde
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Infogerance-dexploitation") Infog&#233;rance
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Offshore") Offshore
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Optimisation-des-couts") Optimisation des co&#251;ts
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Relation-fournisseurs-et-SSII") SSII
                      #child-topic-399d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Stockage")
                            span.nav-list-sublist-header-topics-title Stockage
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Administration-du-stockage") Administration du stockage
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Archivage") Archivage
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Backup-et-protection-de-donnees") Backup
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/SAN-et-NAS") SAN et NAS
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Stockage-objet") Stockage objet
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Virtualisation-du-stockage") Virtualisation du stockage
                      #child-topic-b99d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Systemes-dexploitation")
                            span.nav-list-sublist-header-topics-title Syst&#232;mes d"exploitation
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Linux") Linux
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Macintosh") Macintosh
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Solaris") Solaris
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Unix") Unix
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Windows") Windows
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/zOS") zOS
                      #child-topic-b89d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Securite")
                            span.nav-list-sublist-header-topics-title S&#233;curit&#233;
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Authentification-et-signature-electronique") Authentification
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Continuite-dactivite") Continuit&#233; d&#8217;activit&#233;
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Cybercriminalite") Cybercriminalit&#233;
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Cyberdefense") Cyberd&#233;fense
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Gestion-de-la-securite") Gestion de la s&#233;curit&#233;
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Gestion-du-risque-et-conformite") Gestion du risque
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Gestion-didentites") Gestion d&#8217;identit&#233;s
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Legislation") L&#233;gislation
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Menaces-informatiques") Menaces informatiques
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Protection-des-donnees") Protection des donn&#233;es
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Protection-du-poste-de-travail") Protection du PC
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Protection-du-reseau") Protection du r&#233;seau
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Securite-des-environnements-virtuels") Environnements virtuels
                      #child-topic-b69d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-child-topics
                        .nav-list-sublist-header.nav-list-sublist-header-topics
                          a(href="http://www.lemagit.fr/ressources/Virtualisation-de-serveurs")
                            span.nav-list-sublist-header-topics-title Virtualisation de serveurs
                          span.view-all
                            | Voir tout
                            i.icon(data-icon="6")
                        ul.nav-list-sublist
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Architectures-virtualisees") Architectures virtualis&#233;es
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Backup-et-reprise-apres-desastre") Backup, PRA
                          li.nav-list-sublist-item
                            a(href="http://www.lemagit.fr/ressources/Hyperviseurs") Hyperviseurs
                      .nav-list-parent-topics
                        .nav-list-sublist-header.nav-list-sublist-header-gray S&#233;lectionner une technologie
                        ul.nav-list-sublist
                          li#parent-topic-359d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Applications d"entreprise
                          li#parent-topic-b39d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Carri&#232;re
                          li#parent-topic-b59d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Datacenter
                          li#parent-topic-339d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Economie
                          li#parent-topic-379d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Gestion des donn&#233;es
                          li#parent-topic-b79d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Poste de travail &#38; mobilit&#233;
                          li#parent-topic-389d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item R&#233;seaux &#38; t&#233;l&#233;coms
                          li#parent-topic-349d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Secteur d"activit&#233;
                          li#parent-topic-369d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Serveurs
                          li#parent-topic-3a9d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Services Cloud
                          li#parent-topic-b49d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Services IT
                          li#parent-topic-399d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Stockage
                          li#parent-topic-b99d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Syst&#232;mes d"exploitation
                          li#parent-topic-b89d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item S&#233;curit&#233;
                          li#parent-topic-b69d7ec12535f310VgnVCM1000000d01c80aRCRD.nav-list-sublist-item Virtualisation de serveurs
                li#premiumContentMenu.nav-list-item.nav-list-item-lemag
                  .nav-list-item-header
                    span.nav-list-item-header-title
                      | Contenu Premium
                      em Pro+
                    i.icon.icon-arrow-down(data-icon="5")
                    i.icon.icon-navigation-arrow(data-icon="B")
                  .nav-list-sublist.nav-list-item-dropdown
                    ul.nav-list-item-jscroll
                      li.nav-list-sublist-item
                        a(href="http://www.lemagit.fr/ehandbooks") E-handbooks
                      li.nav-list-sublist-item
                        a(href="http://www.lemagit.fr/ezine/STORAGE") E-zine
                      li.nav-list-sublist-item
                        a(href="http://www.bitpipe.fr") Livres Blancs
                      li.nav-list-sublist-item
                        a(href="http://www.lemagit.fr/eproducts") Tout PRO+
                      li.nav-list-sublist-item
                        a(href="http://users.lemagit.fr/registration/LeMagIT/EditProfile.page") A propos de PRO+
                      li.nav-list-sublist-item.sponsored
                        a(href="http://www.lemagit.fr/espace_partenaires") Espace partenaires
              ul.nav-social
                li#navBarGooglePlus.nav-social-item(title="Suivre LeMagIT sur Google+")
                  a(href="https://plus.google.com/102993835571156816807/posts", target="_blank")
                    i.icon(data-icon="s")
                li#navBarFacebook.nav-social-item(title="Aimer LeMagIT sur Facebook")
                  a(href="https://www.facebook.com/LeMagIT", target="_blank")
                    i.icon(data-icon="u")
                li#navBarTwitter.nav-social-item(title="Suivre @lemagit sur Twitter")
                  a(href="https://twitter.com/lemagit", target="_blank")
                    i.icon(data-icon="c")
                li#navBarLinkedIn.nav-social-item(title="Suivre LeMagIT sur LinkedIn")
                  a(href="https://www.linkedin.com/company/2899503", target="_blank")
                    i.icon(data-icon="o")
          .ad-wrapper.header-leaderboard.ad-desktop
            // AdsController, generated at 18:31:36 Sun Oct 25, 2015, by vappma24.techtarget.com
            #leaderboard.ad.ad-lb
              script.
                GPT.display('leaderboard')
      block content
      div
        div
          // FooterLinksController, generated at 13:52:14 Mon Oct 26, 2015, by vappma24.techtarget.com
          footer
            .content-left
              // Plug in TechTarget Logo inside the anchor tag here.
              .column.column-logo
                a(href="#")
            .content-center
              ul.column
                li.footer-item.footer-item-col-1.footer-item-row-1
                  a(href="http://www.lemagit.fr/a-propos") &#192; Propos
                li.footer-item.footer-item-col-1.footer-item-row-2
                  a(href="http://www.lemagit.fr/a-propos/contact") Contacts
                li.footer-item.footer-item-col-1.footer-item-row-3
                  a(href="http://www.lemagit.fr/plan-du-site") Plan Du Site
                li.footer-item.footer-item-col-1.footer-item-row-4
                  a(href="http://www.lemagit.fr/archives") Archives
                li.footer-item.footer-item-col-1.footer-item-row-5
                  a(href="http://www.techtarget.com/html/privacy_policy_fr.html") Confidentialit&#233;
              ul.column
                li.footer-item.footer-item-col-2.footer-item-row-1
                  a(href="http://www.techtarget.com/html/cookie_policy_fr.html") Utilisation Des Cookies
                li.footer-item.footer-item-col-2.footer-item-row-2
                  a(href="http://reprints.ygsgroup.com/m/techtarget") R&#233;impressions
                li.footer-item.footer-item-col-2.footer-item-row-3
                  a(href="http://www.lemagit.fr/a-propos/publicite") Annonceurs
                li.footer-item.footer-item-col-2.footer-item-row-4
                  a(href="http://www.lemagit.fr/a-propos/partenaires") Partenaires
                li.footer-item.footer-item-col-2.footer-item-row-5
                  a(href="http://www.techtarget.com/html/topics_france_fr.html") Dossier De Presse
              ul.column.column-mobile-hidden
                li.footer-item.footer-item-col-3.footer-item-row-1
                  a(href="http://www.lemagit.fr/evenements") Agenda
                li.footer-item.footer-item-col-3.footer-item-row-2
                  a(href="http://www.lemagit.fr/ehandbooks") E-Handbooks
                li.footer-item.footer-item-col-3.footer-item-row-3
                  a(href="http://www.lemagit.fr/conseils") Conseils IT
                li.footer-item.footer-item-col-3.footer-item-row-4
                  a(href="http://www.lemagit.fr/Projets-IT") Projets IT
            .content-right
              .column.column-legal
                p.footer-legal
                  | Tous droits r&#233;serv&#233;s,
                  span
                    a(href="http://www.techtarget.com/html/terms_of_use_fr.html") Copyright 2007 - 2015
                    | , TechTarget
      script(src="http://cdn.ttgtmedia.com/rms/ux/responsive/js/responsive-ui.min.js?v=6.33.1")
      // Begin Chartbeat
      script.
        var _sf_async_config={};
        _sf_async_config.uid = 41935;
        _sf_async_config.domain = 'techtargetnetwork.com';
        _sf_async_config.sections = 'LeMagIT, LeMagIT - NO TOPIC';
        _sf_async_config.authors = 'NO AUTHOR, HOME, LeMagIT - HOME';
        _sf_async_config.useCanonical = true;
        (function(){
        function loadChartbeat() {
        window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src',
        (('https:' == document.location.protocol) ? 'https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/' : 'http://static.chartbeat.com/') + 'js/chartbeat.js');
        document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
        loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
      // End Chartbeat
      // Begin OJD
      script.
        xtnv = document;        //parent.document or top.document or document
        xtsd = "http://logi151";
        xtsite = "366045";
        xtn2 = "";        // level 2 site
        xtpage = "";        //page name (with the use of :: to create chapters)
        xtdi = "";        //implication degree
      script(src="http://cdn.ttgtmedia.com/rms/ux/javascript/xtcore.js")
      noscript
        img(width="1", height="1", alt="", src="http://logi151.xiti.com/hit.xiti?s=366045&s2=&p=&di=&")
      // End OJD
      // Begin DataPoint Media
      script.
        (function() {
        var d=document,h=d.getElementsByTagName('head')[0],s=d.createElement('script'),sc = 'https:' == document.location.protocol ? 'https://' : 'http://';
        s.type='text/javascript';
        s.async=true;
        s.src=sc+'s.dpmsrv.com/dpm_b4c96d80854dd27e76d8cc9e21960eebda52e962.min.js';
        h.appendChild(s);
        })();
      // End DataPoint Media
      // Begin CrazyEgg
      script.
        setTimeout(function(){
        var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/7034.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;
        a.type="text/javascript";
        b.parentNode.insertBefore(a,b)
        }, 1);
      // End CrazyEgg
      // Begin GoogleRemarketing
      script.
        var google_conversion_id = 1070110249;
        var google_conversion_label = "RRsgCOW4tgMQqayi_gM";
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
      script(src="http://www.googleadservices.com/pagead/conversion.js")
      noscript
        div(style="display:inline;")
          img(height="1", width="1", style="border-style:none;", alt="", src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1070110249/?value=0&label=RRsgCOW4tgMQqayi_gM&guid=ON&script=0")
      script.
        var google_conversion_id = 1072226410;
        var google_conversion_label = "x3P_CIql1gMQ6sCj_wM";
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
      script(src="http://www.googleadservices.com/pagead/conversion.js")
      noscript
        div(style="display:inline;")
          img(height="1", width="1", style="border-style:none;", alt="", src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1072226410/?value=0&label=x3P_CIql1gMQ6sCj_wM&guid=ON&script=0")
      // End GoogleRemarketing
    #mobile-sidebars.mobile-sidebars
    #image-overlay.image-overlay
      .image-overlay-img
      .image-overlay-close Close
    //
      Component Load Times
      ====================
      DefaultPageController=5 ms
      CustomHTMLController=0 ms
      DefaultLayoutController=8 ms
      AdsController=0 ms
      Total time=13 ms
      Request Serving Server: vappma24.techtarget.com
    
